<html>
  <head>
    <title>Your Data Upload Was Successful</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style></style>
  </head>
  <body>
    <p>Hello <%= @user.name %>,</p>
    
    <p>Your dataset was successfully uploaded.</p>
    
    <h3>Dataset Information</h3>
    <div>Id = <%= @dataset.id %></div>
    <div>Name = <%= @dataset.name %></div>
    <div>Number of Transcripts = <%= @dataset.transcripts.count %></div>
    <div>Number of Genes = <%= @dataset.genes.count %></div>
    <div>Number of Samples = <%= @dataset.samples.count %></div>
    <div>Number of differential expression tests = <%= @de_tests_count %></div>
  </body>
</html>