<h1>ReferenceNovelIsoformsOnlyWorkflow#cuffcompare_configure</h1>
<p>Find me in app/views/reference_novel_isoforms_only_workflow/cuffcompare_configure.html.erb</p>
<%= form_tag({:action => :cuffcompare_configure}, :multipart => true) do %>
    <input type="hidden" id="job_id" name="job_id" value="<%= @job_id %>" />
    <% @cuffcompare_executions.each do |cuffcompare_execution| %>
            <%= render 'shared/error_messages', :object => cuffcompare_execution %>
            <h3>Sample <%= cuffcompare_execution.sample_id %></h3>
            <%= fields_for cuffcompare_execution do |ce| %>
                <%= ce.label :input_gtfs, "Input gtfs", :index => cuffcompare_execution.sample_id %>
                <%= ce.file_field :input_gtfs, :index => cuffcompare_execution.sample_id %>
                <%= ce.label :M, "discard (ignore) single-exon transfrags and reference transcripts" %>
                <%= ce.check_box :M %>
            <% end %>
    <% end %>
    <p><%= button_tag "Submit", :disable_with => "Please wait..." %></p>
<% end %>