<h1>Tophat configuration</h1>
<%= 
    #link_to "Next Step", @next_step_url 
%>
<%= form_tag({:action => :tophat_configure}, :multipart => true) do %>
<!--     debug<%= debug @tophat_executions %> -->
    <% @tophat_executions.each do |tophat_execution| %>
        <div id="<%= "Sample_#{tophat_execution.sample_id}" %>">
            <hr/>
            <%= render 'shared/error_messages', :object => tophat_execution %>
            <h3>Sample <%= tophat_execution.sample_id %></h3>
            <%= fields_for tophat_execution do |ce| %>
                <div>
                    <%= ce.label :ebwt_base_or_reference_fasta, "Use a built-in reference genome or upload your own?", 
                        :index => tophat_execution.sample_id %>
                    <%= ce.select(:ebwt_base_or_reference_fasta, 
                        options_for_select([['Built-in','ebwt_base'],['Upload your own','reference_fasta']],
                        ce.object.ebwt_base_or_reference_fasta),{},
                        {:index => tophat_execution.sample_id, :onchange=>"ebwt_base_changed();"}) %>
                        debug <%= debug ce.object.ebwt_base_or_reference_fasta %>
                </div>
                <div id="built_in_reference">
                    <%= ce.label :ebwt_base, "Select reference genome to use", :index => tophat_execution.sample_id %>
                    <%= ce.select(:ebwt_base, options_for_select(['hg18','hg19','Arabadopsis'],'Arabadopsis'),{},
                        {:index => tophat_execution.sample_id}) %>
                </div>
                <div id="uploaded_reference" style="display:none">
                    <%= ce.label :reference_fasta, "Please uploade a genome in fasta format", :index => tophat_execution.sample_id %>
                    <%= ce.file_field :reference_fasta, {:index => tophat_execution.sample_id} %>
                </div>
                <%= javascript_tag do -%>
                    function ebwt_base_changed(){
                        var uploaded_reference = $('div#Sample_1 > div#uploaded_reference');
                        var built_in_reference = $('div#Sample_1 > div#built_in_reference');
                        if (uploaded_reference.css('display') == 'block'){
                            uploaded_reference.css('display','none');
                            built_in_reference.css('display','block');
                        }
                        else{
                            uploaded_reference.css('display','block');
                            built_in_reference.css('display','none');
                        }
                    }
                <% end -%>
            <br/>
            <% end %>
        </div>
    <% end %>
    <p><%= button_tag "Submit", :disable_with => "Please wait..." %></p>
<% end %>