<%= render 'shared/error_messages', :object => @delete_unconfirmed_user %>
<%= form_for(@delete_unconfirmed_user, :url => 'delete_unconfirmed_user') do |duu| %>
  <h1>Delete Unconfirmed User <%= duu.object.user.id %> (<%= duu.object.user.name %>)</h1>
  <table border="1">
    <tr><th>Id</th><td><%= duu.object.user.id %></td></tr>
    <tr><th>Name</td><td><%= duu.object.user.name %></td></tr>
    <tr><th>Email Address</th><td><%= duu.object.user.email %></td></tr>
    <tr><th>Why they want to use the system</th><td><%= duu.object.user.description %></td></tr>
  </table>
  <%= duu.hidden_field :user_id, :value => duu.object.user.id %>
  <p>
    <%= duu.label :optional_note_to_user, 'Optional Note to User' %><br/>
    <%= duu.text_area :optional_note_to_user, :size => '80x10' %>
  </p>
  <p><%= submit_tag('Send Rejection Email And Delete', :disable_with => "Sending And Deleting...") %></p>
<% end %>
