<html>
  <head>
    <title>Delete Unconfirmed User<%= @user.id %> (<%= @user.name %>)</title>
    <meta content="">
    <style></style>
  </head>
  <body>
    <h1>Delete Unconfirmed User <%= @user.id %> (<%= @user.name %>)?</h1>
    <table>
      <tr><td>Id</td><td><%= @user.id %></td></tr>
      <tr><td>Name</td><td><%= @user.name %></td></tr>
      <tr><td>Email Address</td><td><%= @user.email %></td></tr>
      <tr><td>Why they want to use the system</td><td><%= @user.description %></td></tr>
    </table>
  </body>
</html>