<html>
  <head>
    <title>You Have Been Approved to User the Queryable RNA-Seq Database</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style></style>
  </head>
  <body>
    <p>Hello <%= @user.name %>,</p>
    
    <p>
      <b>IMPORTANT NOTE:</b> If you plan to upload Trinity with EdgeR data, 
      be sure that your differential expression test files have the columns 
      in the correct order. Otherwise, the wrong data 
      will be stored. See: 
      <a href="https://sites.google.com/site/rnaseqanalysispipeline/user-manual/step-4-upload-your-data#TOC-Transcript-Differential-Expression-Files">
      required transcript differential expression file 
      format</a> and 
      <a href="https://sites.google.com/site/rnaseqanalysispipeline/user-manual/step-4-upload-your-data#TOC-Gene-Differential-Expression-Files-">
      gene differential expression file format</a>. This is needed 
      because Trinity with EdgeR doesn't seem to have a exact, stable format 
      for its differential expression output files. 
      If you have any questions about this, please contact the 
      administrator using the 
      <a href="<%= @report_issue_url %>">report issue form</a>.
    </p>
    
    <p>
      You have been approved to use the Queryable RNA-Seq Database. 
      A confirmation email should be arriving shortly to give you access 
      to the system. If it does 
      not arrive within a day then contact the administrator using this form:
      <a href="<%= @report_issue_url %>"><%= @report_issue_url %></a>. 
      Do not reply to this email because it is not monitored.
    </p>
    
    <% if not @optional_note_to_user.blank? %>
      <h3>Additional Note</h3>
      <p><%= @optional_note_to_user %></p>
    <% end %>
    
    <p>Sincerely,</p>
    
    <p>Queryable RNA-Seq Database Mailer Bot</p>
  </body>
</html>
