<!DOCTYPE html>
<html>
  <head>
    <title>New User Registration Request Received</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New User Registration Request Received for user: <%= @user.name %></h1>
    <table>
      <tr><td>Id</td><td><%= @user.id %></td></tr>
      <tr><td>Name</td><td><%= @user.name %></td></tr>
      <tr><td>Email Address</td><td><%= @user.email %></td></tr>
      <tr><td>Why they want to use the system</td><td><%= @user.description %></td></tr>
    </table>
    <div>
      <%= link_to('Go to confirm user page',
                  "#{@base_url}/admin/confirm_user?user_id=#{@user.id}") %>
    </div>
    <div>
      <%= link_to('Go to delete user page',
                  "#{@base_url}/admin/delete_unconfirmed_user?user_id=#{@user.id}") %>
    </div>
  </body>
</html>