<h1>Cuffcompare configuration</h1>
<%= link_to "Next Step", @next_step_url %>
<%= form_tag(:action=>"cuffcompare_configuring") do %>
<!--     debug<%= debug @cuffcompare_executions %> -->
    <% @cuffcompare_executions.each do |cuffcompare_execution| %>
        <hr/>
        <%= render 'shared/error_messages', :object => cuffcompare_execution %>
        <h3>Sample <%= cuffcompare_execution.sample_id %></h3>
        <%= fields_for cuffcompare_execution do |ce| %>
            <%= ce.label :r, "Use Reference Annotation", :index => cuffcompare_execution.sample_id %>
            <%= ce.check_box :r, :index => cuffcompare_execution.sample_id %><br/>
        <% end %>
        <br/>
    <% end %>
    <p><%= button_tag "Submit", :disable_with => "Please wait..." %></p>
<% end %>