<h1>What type of processing would you like to do?</h1>
<table>
    <tr>
<!--        <td class="rounded-corners" style="background-color:rgb(211,184,239);padding-left:25px;padding-right:25px">
            <h3 style="text-align:center">Wizard</h3>
            <%= form_tag('/query_analysis/upload_main_menu') do %>
                <%= radio_button_tag(:data_type, "upload_reference_cuffdiff") %>
                <%= label_tag(:data_type_upload_reference_cuffdiff, "Differential Expression") %><br/>
                <%= radio_button_tag(:data_type, "upload_de_novo_cuffdiff") %>
                <%= label_tag(:data_type_upload_de_novo_cuffdiff, "Novel Isoforms") %><br/>
                <%= radio_button_tag(:data_type, "upload_de_novo_edgeR") %>
                <%= label_tag(:data_type_upload_de_novo_edgeR, "Both") %><br/>
                <%= submit_tag("Proceed to next step") %>
            <% end %>
        </td>-->
        <td class="rounded-corners" style="background-color:rgb(211,184,239);padding-left:25px;padding-right:25px">
            <h3 style="text-align:center">Quick Navigation</h3>
            <p>
                <%= label_tag :number_of_samples, "Number of Samples" %>
                <%= select_tag 'number_of_samples', options_for_select(1..10,2) %>
            </p>
            With Reference Genome
            <ul>
                <li>Tophat & Cufflinks (Novel Isoforms & Differential Expression)</li>
                <li>Tophat & Cufflinks (Novel Isoforms only)</li>
            </ul>
            Without Reference Genome (Differential Expression Only)     
            <ul>
                <li>Trinity & Cufflinks</li>
                <li>Trinity & EdgeR</li>
            </ul>
        </td>
    </tr>
</table>
