<h1>ProcessingAnalysis#main_menu</h1>
<p>Find me in app/views/processing_analysis/main_menu.html.erb</p>
<h3>What would you like to do?</h3>
<%= form_tag('/query_analysis/upload_main_menu') do %>
    <h3>What type of data do you have?</h3>
    <!--<input type="radio" name="data_type" value="upload_reference_cuffdiff" />Reference Cuffdiff<br />
    <input type="radio" name="data_type" value="upload_de_novo_cuffdiff" />De-novo Cuffdiff<br/>
    <input type="radio" name="data_type" value="upload_de_novo_edgeR" />EdgeR<br/>-->
    <%= radio_button_tag(:data_type, "upload_reference_cuffdiff") %>
    <%= label_tag(:data_type_upload_reference_cuffdiff, "Reference Cuffdiff") %><br/>
    <%= radio_button_tag(:data_type, "upload_de_novo_cuffdiff") %>
    <%= label_tag(:data_type_upload_de_novo_cuffdiff, "De-novo Cuffdiff") %><br/>
    <%= radio_button_tag(:data_type, "upload_de_novo_edgeR") %>
    <%= label_tag(:data_type_upload_de_novo_edgeR, "EdgeR") %><br/>
    <%= submit_tag("Proceed to next step") %>
<% end %>
