
<table>
    <tr>
        <th colspan="2"><h1>Process Reads</h1></th>
    </tr>
    <tr>
        <!--<td class="rounded-corners" style="background-color:rgb(211,184,239);padding-left:25px;padding-right:25px">
            <h3 style="text-align:center">Wizard</h3>
            <%= form_tag('/query_analysis/upload_main_menu') do %>
                <%= radio_button_tag(:data_type, "upload_reference_cuffdiff") %>
                <%= label_tag(:data_type_upload_reference_cuffdiff, "Differential Expression") %><br/>
                <%= radio_button_tag(:data_type, "upload_de_novo_cuffdiff") %>
                <%= label_tag(:data_type_upload_de_novo_cuffdiff, "Novel Isoforms") %><br/>
                <%= radio_button_tag(:data_type, "upload_de_novo_edgeR") %>
                <%= label_tag(:data_type_upload_de_novo_edgeR, "Both") %><br/>
                <%= submit_tag("Proceed to next step") %>
            <% end %>
        </td>-->
        <td class="rounded-corners" style="background-color:rgb(211,184,239);padding-left:25px;padding-right:25px">
            <div style="font-size:15pt;font-weight:bold;text-align:center">Step 1: Filter and Trim Your Reads</div>
            <div style="font-size:13pt;text-align:center"><em>For More Acccurate Processing</em></div>
            <ol style="list-style-type:lower-alpha">
                <li>Upload your reads to <a href="http://edwards.sdsu.edu/cgi-bin/prinseq/prinseq.cgi">Prinseq</a>.</li>
                <li>Follow the instructions to trim and filter you reads.</li>
                <li>Download your newly trimmed and filtered reads.</li>
                <li>Proceed to step 2 =====================&gt;</li>
            </ol>
        </td>
        <td class="rounded-corners" style="background-color:rgb(211,184,239);padding-left:25px;padding-right:25px">
            <h3 style="text-align:center">Step 2: Select a Processing Analysis Workflow</h3>
            <div><u>If you have 1 sample:</div>
            <ul>
                <li><a href="#">Novel Gene and Transcript Discovery</a></li>
            </ul>
            <div>If you have 2 or more samples:</div>
            <ul>
                <li><a href="#">Differential Expression Analysis With Novel Gene and Transcript Discovery</a></li>
                <li><a href="#">Differential Expression Analysis using a Reference Genome</a></li>
                <li><a href="#">Differential Expression Analysis without a Refernence Genome using Trinity and EdgeR</a></li>
                <li><a href="#">Differential Expression Analysis without a Refernence Genome using Trinity, Tophat, and Cufflinks</a></li>
            </ul>
        </td>
    </tr>
</table>
