<h1>What type of processing would you like to do?</h1>
<table>
    <tr>
        <th>
            Wizard
        </th>
        <th>
            Quick Navigations
        </th>
    <tr>
        <td>
            <%= form_tag('/query_analysis/upload_main_menu') do %>
                <h3>What type of data do you have?</h3>
                <!--<input type="radio" name="data_type" value="upload_reference_cuffdiff" />Reference Cuffdiff<br />
                <input type="radio" name="data_type" value="upload_de_novo_cuffdiff" />De-novo Cuffdiff<br/>
                <input type="radio" name="data_type" value="upload_de_novo_edgeR" />EdgeR<br/>-->
                <%= radio_button_tag(:data_type, "upload_reference_cuffdiff") %>
                <%= label_tag(:data_type_upload_reference_cuffdiff, "Reference Cuffdiff") %><br/>
                <%= radio_button_tag(:data_type, "upload_de_novo_cuffdiff") %>
                <%= label_tag(:data_type_upload_de_novo_cuffdiff, "De-novo Cuffdiff") %><br/>
                <%= radio_button_tag(:data_type, "upload_de_novo_edgeR") %>
                <%= label_tag(:data_type_upload_de_novo_edgeR, "EdgeR") %><br/>
                <%= submit_tag("Proceed to next step") %>
            <% end %>
        </td>
        <td>
        Pawl
        </td>
    </tr>
</table>
