<h1>Tophat configure</h1>
<% form_for @execution_group do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% f.fields_for :tophat_execution do |builder| %>
  <p>
    <%= builder.label :goat, "Question" %><br />
    <%= builder.text_area :goat, :rows => 3 %>
  </p>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>