<div class='sub-section rounded-corners' style='padding:5px'>
  <%= bq.label(:results_display_method, "How To Display Results:") %>
  <%= bq.radio_button(:results_display_method, :normal) %>
  <%= bq.label(:results_display_method_normal, "Display on this Page") %>
  <%= bq.radio_button(:results_display_method, :email) %>
  <%= bq.label(:results_display_method_email, 'Email Them to Me') %>
</div>