<% @qdeg.results.each do |result| %>
    <tr class="body_row">
        <td>
          <%= link_to_fasta_sequences_for_gene(@qdeg.dataset_id, 
                      result[:gene_name]) %>
        </td>
        <td>
          <ul class="list_cell">
          <% result[:transcript_names].sort.each do |transcript_name| %>
            <li><%= link_to_fasta_sequence_for_transcript(@qdeg.dataset_id,
                      transcript_name) %></li>
          <% end %>
          </ul>
        </td>
        <% if @qdeg.go_terms_status == 'done' %>
        <% if result[:go_terms].empty? == false %>
          <td class="list_cell">
            <ul>
              <!-- Sort by ascending GO ID for the go terms-->
              <% result[:go_terms].sort{|a,b| a.id.gsub(/GO:/,'').to_i <=> b.id.gsub(/GO:/,'').to_i}.each do |go_term| %>
                <li><%= link_to_amigo_web_page_for_term("#{go_term.term} [#{go_term.id}]",go_term.id) %></li>
              <% end %>
            </ul>
          </td>
        <% else %>
          <td>
            No GO ids found.
          </td>
        <% end %>
      <% end %>
      <% if @qdeg.program_used == 'cuffdiff' %>
        <td><pre><%= ("% .5E" % result[:test_statistic]) %></pre></td>
      <% end %>
      <td><pre><%= ("%6.5f" % result[:p_value]) %></pre></td>
      <td><pre><%= ("%6.5f" % result[:fdr]) %></pre></td>
      <td><pre><%= ("% .3E" % result[:sample_1_fpkm]) %></pre></td>
      <td><pre><%= ("% .3E" % result[:sample_2_fpkm]) %></pre></td>
      <td><pre><%= ("% .3E" % result[:log_fold_change]) %></pre></td>
      <% if @qdeg.program_used == 'cuffdiff' %>
        <td><%= result[:test_status] %></td>
      <% end %>
    </tr>
<% end %>