<% @qti.results.each do |result| %>
  <tr class="body_row">
    <td>
      <%= link_to_fasta_sequence_for_transcript(@qti.dataset_id, 
              result[:transcript_name]) %>
    </td>
    <td>
      <%= link_to_fasta_sequences_for_gene(@qti.dataset_id, result[:gene_name]) %>
    </td>
      
    <% if result[:go_terms].empty? == false %>
      <td class="list_cell">
        <ul>
          <!-- Sort by ascending GO ID for the go terms-->
          <% result[:go_terms].sort{|a,b| a.id.gsub(/GO:/,'').to_i <=> b.id.gsub(/GO:/,'').to_i}.each do |go_term| %>
            <li><%= link_to_amigo_web_page_for_term("#{go_term.term} [#{go_term.id}]",go_term.id) %></li>
          <% end %>
        </ul>
      </td>
    <% else %>
      <td>
        No GO ids found.
      </td>
    <% end %>
    <td>
      <%= result[:class_code] %>
    </td>
    <td><pre><%= "%5d" % result[:transcript_length] %></pre></td>
    <td><pre><%= result[:coverage] %></pre></td>
    <td><pre><%= "% .3E" % result[:fpkm] %></pre></td>
    <td><pre><%= "% .3E" % result[:fpkm_lo] %></pre></td>
    <td><pre><%= "% .3E" % result[:fpkm_hi] %></pre></td>
    <td>
      <%= result[:status] %>
    </td>
  </tr>
<% end %>