<!--<div id="sample_cmp_<%= @sample_cmp_count %>">
  Transcript Differential Expression Samples Comparison <%= @sample_cmp_count %>:
  <%= file_field_tag('upload_trinity_with_edge_r[transcript_diff_exp_files][]') %>
  <input type="text" /><input type="text" />
</div>-->
<tr id="sample_cmp_<%= @sample_cmp_count %>">
  <td style="text-align:center"><%= file_field_tag('upload_trinity_with_edge_r[transcript_diff_exp_files][]') %></td>
  <td><input type="text" /></td>
  <td><input type="text" /></td>
</tr>
