<div id="sample_cmp_<%= @sample_cmp_count %>">
  <b>Sample Comparison <%= @sample_cmp_count %>:</b>
  <%= label('transcript_diff_exp_files',
            'Transcript Differential Expression Tests') %>
  <%= file_field_tag('upload_trinity_with_edge_r_transcripts_and_genes' +
                     '[transcript_diff_exp_files][]') %>
  <%= label('gene_diff_exp_files', 
            'Gene Differential Expression Tests') %>
  <%= file_field_tag('upload_trinity_with_edge_r_transcripts_and_genes' +
                     '[gene_diff_exp_files][]') %>
</div>
