<div style="font-weight:bold;font-size:50pt;text-align:center">Blast Results</div>
<!--Version Information-->
<p style="font-weight:bold"><%= @blast_report.version %></p>
<!--Reference Information-->
<%= link_to 'Reference:', 'http://www.ncbi.nlm.nih.gov/pubmed/9254694?dopt=Citation' %><br/>
<div style="width:30%"><%= @blast_report.reference %></div>
<!--Database Information-->
<p>Database:<br/>
  <%= @blast_report.db %>
</p>
<!-- Display the search parameters -->
<table class="sub-section rounded-corners">
  <caption style="font-weight:bold">Search Parameters</caption>
  <% @blast_report.parameters.each do |key, value| %>
  <tr>
    <td><%= key %>:</td>
    <td style="text-align:center"><%= value %></td>
  </tr>
  <% end %>
</table>
<!-- Loop through the result iterations -->
<% @blast_report.reports.each do |report| %>
  <% report.iterations.each do |iteration| %>
    <!-- Display some information about the iteration -->
    <h1>Results for <%= iteration.query_id %></h1>
    <!--Display the graphical summary -->
    <h4 style="text-align:center">Graphical Summary</h4>
    <div style="width:50%;margin:0 auto;background-color:white">
        <!-- Display the color-keyed alignment scores -->
        <table style="width:100%"><tr>
          <td style="text-align:center"><b>Color key alignment scores</b></td>
        </tr></table>
        <table style="width:100%;font-weight:bold;color:white;text-align:center"><tr>
          <td style="width:20%;background-color:black;">&lt;40</td>
          <td style="width:20%;background-color:blue;">40-50</td>
          <td style="width:20%;background-color:lime;">50-80</td>
          <td style="width:20%;background-color:magenta;">80-200</td>
          <td style="width:20%;background-color:red;">&gt;=200</td>
        </tr></table>
        <!-- Display the query length ruler -->
        <% _1_percent = iteration.query_len/100.0 %>
        <% _25_percent = _1_percent * 25.0 %>
        <% _50_percent = _1_percent * 50.0 %>
        <% _75_percent = _1_percent * 75.0 %>
        <% _100_percent = _1_percent * 100.0 %>
        <% spacer = 24 %>
        <% marks = [1, _25_percent, _50_percent, _75_percent,_100_percent] %>
        <table style="width:96.6%;height:10px;background-color:red"><tr>
        <td style="text-align:center;font-weight:bold;">Query</td>
        </tr></table>
        <table style="width:100%;margin:0 auto;border:0;padding:0">
          <tr style="height:15px">
            <% marks.each do |mark| %>
              <td style="width:1%;text-align:center;">
                <%= image_tag 'black.png', :style => 'width:4px;height:15px' %>
              </td>
              <td></td>
              <% if mark != marks.last %>
                <td style="width:<%= spacer %>%;"><td>
              <% end %> 
            <% end %>
          </tr>
          <tr>
            <% marks.each do |mark| %>
              <td style="width:1%;"><%= mark %></td>
              <td></td>
              <td style="<%= spacer %>%;"></td>
              <td></td>
            <% end %>
          </tr>
        </table>
        <!-- Graphically display the alignment of the hits to the query -->
        <% iteration.hits.each do |hit| %>
          <div style="background-color:white;height:35px;">
            <% z_index = 9999 %>
<!--             <span style="font-size:10pt;color:red;font-weight:bold">Hit=<%= hit.hit_id %></span> -->
            <% hit.hsps.each do |hsp| %>
              <table style="width:48%;position:absolute;z-index:<%= z_index %>;left:25.7%">
                <caption style="font-size:10pt;color:red;text-align:left">
                  <a href="<%= "#Iteration-#{iteration.num},Hit-#{hit.num}" %>">
                    Hit=<%= hit.hit_id %>
                  </a>
                </caption>
                <tr><td>
                  <% w1 = (hsp.query_from == 1 ) ? 0 : (hsp.query_from/_1_percent-1)  %>
                  <% w2 = (hsp.query_to/_1_percent) - w1 - 1 %>
                  <% tooltip = ">#{hit.hit_id} #{hit.target_def}\n" +
                              "HSP number=#{hsp.num}\n" +
                              "Bit score=#{hsp.bit_score} E-value=#{hsp.evalue}" %>
                  <% color = get_color_for_score(hsp.bit_score) %>
                  <!--<% if w1 > 0 %>
                    <%= image_tag('white.png', :style => "width:#{w1}%;height:5px;opacity:0;filter:alpha(opacity=0);") %>
                  <% end %>-->
                  <a href="<%= "#Iteration-#{iteration.num},Hit-#{hit.num}" %>">
                    <% image_style = "width:#{w2}%;height:5px;border:3px outset gray;position:absolute;left:#{w1}%" %>
                    <%= image_tag "#{color}.png", :style => image_style, :title => tooltip %>
                  </a>
                </td></tr>
              </table>
              <% z_index-=1 %>
            <% end %>
          </div>
        <% end %>
      </div>
    <!-- Display some general information about the query -->
    <p>
      <b>Query=</b><%= report.query_def %><br/>
      Length = <%= report.query_len %>
    </p>
    <!-- Display sequences producing significant alignments in the iteration -->
    <table class="sub-section rounded-corners">
      <thead>
        <tr>
          <td style="font-weight:bold">Sequences producing significant alignments</td>
          <th style="padding:10px">Score (bits)</th>
          <th style="padding:10px">E value</th>        
        </tr>
      </thead>
      <tbody>
        <% iteration.hits.each do |hit| %>
          <tr>
            <td>
              <%= link_to_ncbi_search_for hit.hit_id %> <%= hit.target_def %>
            </td>
            <td style="text-align:center">
              <%= link_to hit.bit_score.round(2).to_s, "#Iteration-#{iteration.num},Hit-#{hit.num}" %>
            </td>
            <td style="text-align:center">
              <%= hit.evalue %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br/>
    <br/>
    <!-- Loop through each hit in the iteration -->
    <% iteration.hits.each do |hit| %>
      <div id="Iteration-<%= iteration.num %>,Hit-<%= hit.num %>">
        <!-- Display some basic information about the hit -->
        &gt;<%= link_to_ncbi_search_for hit.hit_id %> <%= hit.target_def %>
        <div>Length=<%= hit.len %></div>
        <!-- Loop through the hsps -->
        <% hit.hsps.each do |hsp| %>
          <!-- Display some basic information about the hsp -->
          <p style="margin-left:25px">
            HSP number: <%= hsp.num %><br/>
            Score= <%= hsp.bit_score.round(2) %> bits (<%= hsp.score %>), Expect = <%= hsp.evalue %></br>
            <% percent_identity = (hsp.identity.to_f/hsp.align_len.to_f*100).round %>
            <% percent_gaps = (hsp.gaps.to_f/hsp.align_len.to_f*100).round %>
            Identities=<%= hsp.identity %>/<%= hsp.align_len %> (<%= percent_identity %>%), 
            Gaps=<%= hsp.gaps %>/<%= hsp.align_len %> (<%= percent_gaps %>%)<br/>
            <!-- Display strand or frame info depending on what type of blast this is -->
            <% if @program == :blastn %>
              <% query_strand = (hsp.query_frame > 0) ? 'Plus' : 'Minus' %>
              <% hit_strand = (hsp.hit_frame > 0) ? 'Plus' : 'Minus' %>
              Strand = <%= query_strand %>/<%= hit_strand %><br/>
            <% elsif @prorgam == :blastx or @progarm == :tblastx or @program == :tblastn %>
              Frame = <%= '%+d' % hsp.query_frame %>/<%= '%+d' % hsp.hit_frame %><br/>
            <% end %>
          </p>
          <!-- Display the alignment for the hsp -->
          <table style="font-family:monospace">
            <% (0..(hsp.midline.length/60.0).ceil-1).each do |n| %>
              <% seq_range = (n*60)..(n*60)+59 %>
              <% query_to = hsp.query_from+(60*n)+hsp.qseq[seq_range].length-1 %>
              <% hit_to = hsp.hit_from+(60*n)+hsp.hseq[seq_range].length-1 %>
              <tr><td style="white-space:nowrap">Query: <%= hsp.query_from+(60*n) %></td><td><%= hsp.qseq[seq_range] %> <%= query_to %></td></tr>
              <tr><td>&nbsp;</td><td style="white-space:pre"><%= hsp.midline[seq_range] %></pre></td></tr>
              <tr><td style="white-space:nowrap">Sbjct: <%= hsp.hit_from+(60*n) %></td><td><%= hsp.hseq[seq_range] %> <%= hit_to %></td></tr>
              <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <% end %>
          </table>
        <% end %>
      </div>
    <% end %>
    <!-- Display the statistics for the iteration -->
    <table class="sub-section rounded-corners">
      <caption style="font-weight:bold">Query Statistics</caption>
      <thead>
        <th>Parameter</th>
        <th>Value</th>
      </thead>
      <tbody>
          <tr>
            <td>Number of sequences in database:</td>
            <td style="text-align:center">
              <%= iteration.statistics['db-num'] %>
            </td>
          </tr>
          <tr>
            <td>Database length:</td>
            <td style="text-align:center">
              <%= iteration.statistics['db-len'] %>
            </td>
          </tr>
          <tr>
            <td>Effective search space:</td>
            <td style="text-align:center">
              <%= iteration.statistics['eff-space'] %>
            </td>
          </tr>
          <tr>
            <td>Entropy:</td>
            <td style="text-align:center">
              <%= iteration.statistics['entropy'] %>
            </td>
          </tr>
          <tr>
            <td>HSP Length:</td>
            <td style="text-align:center">
              <%= iteration.statistics['hsp-len'] %>
            </td>
          </tr>
          <tr>
            <td>Kappa:</td>
            <td style="text-align:center">
              <%= iteration.statistics['kappa'] %>
            </td>
          </tr>
          <tr>
            <td>Lamba:</td>
            <td style="text-align:center">
              <%= iteration.statistics['lambda'] %>
            </td>
          </tr>
      </tbody>
    </table>
    <hr/>
  <% end %>
<% end %>
