<script type='text/javascript' src='blastn.js'></script>
<%= render 'shared/error_messages', :object => @blastn_query %>
<%= form_for(@blastn_query,{:url => "blastn"}) do |bq| %>
  <%= #render 'blast_generic_args', :bq => bq 
  %>
  <h2>Choose Data Set to Search Using Blastn's Megablast</h2>
  <p>
      <%= label(:dataset_id, "Dataset:") %>
      <%= select_tag(:dataset_id, options_for_select(@blastn_query.available_datasets,@blastn_query.dataset_id)) %>
  </p>
  <hr/>
  <!--Select a subsequence of the fasta to use-->
  <!--<p>
  Set subsequence: 
      <%= #bq.label :subsequence_from, "From" %><%= bq.text_field :subsequence_from 
      %>
      <%= #bq.label :subsequence_to, "To" %><%= bq.text_field :subsequence_to
      %>
  -->
  <h2>Enter a Query Sequence</h2>
<!--Enter or upload fasta sequence-->
    <p>
      <div>
        <%= bq.radio_button(:use_fasta_sequence_or_file, :use_fasta_sequence) %>
        <%= bq.label :fasta_sequence, "Enter sequence below in FASTA format" %><br/>
        <%= bq.text_area :fasta_sequence, {:cols=>80, :rows => 6} %><br/>
      </div>
      <div>
        <%= bq.radio_button(:use_fasta_sequence_or_file, :use_fasta_file) %>
        <%= bq.label :fasta_file, "Or load it from disk" %><br/>
        <%= bq.file_field :fasta_file %><br/>
      </div>
    </p>
    <hr/>
  <h2>Algorithm settings</h2>
  
  <div class='sub-section rounded-corners' style='padding:5px'>
    <p class='sub-section-heading-2'>General Parameters</p>
    <div>
        <%= bq.label :num_alignments, "Number of alignments to show" %>
        <%= bq.select :num_alignments, options_for_select(@blastn_query.available_num_alignments,
            @blastn_query.num_alignments) %>
    </div>
    <p>
        <%= bq.label :e_value, "Expect threshold (e-value)" %>
        <%= bq.text_field :e_value, :size => 10 %>
    </p>
    <div>
        <%= bq.label :word_size, "Word size [Integer]" %>
        <%= bq.text_field :word_size, :size => 5 %>
    </div>
  </div>
  <br/>
  <div class='sub-section rounded-corners' style='padding:5px'>
    <p class='sub-section-heading-2'>Scoring Parameters</p>
    <%= bq.label :match_and_mismatch_scores, "Match/mismatch scores" %>
    <%= bq.select :match_and_mismatch_scores, options_for_select(@blastn_query.available_match_and_mismatch_scores,
        @blastn_query.match_and_mismatch_scores) %>
    <div>
      <%= render :partial => 'gap_costs', :locals => {:object => @blastn_query} %>
    </div>
  </div>
  <br/>
  <div class='sub-section rounded-corners' style='padding:5px'>
    <p class='sub-section-heading-2'>Filters and Masking</p>
    <p>
        <%= bq.check_box :filter_low_complexity_regions %><%= bq.label :filter_low_complexity_regions, "Filter low complexity regions" %><br/>
        <%= bq.check_box :use_soft_masking %> <%= bq.label :use_soft_masking, "Mask for lookup table only" %><br/>
        <%= bq.check_box :use_lowercase_masking %> <%= bq.label :use_lowercase_masking, "Mask lowercase letters" %><br/>
    </p>
  </div>
    <p><%= button_tag 'Reset', :type => 'reset' %> <%= submit_tag("BLAST", :disable_with => "BLASTing...") %></p>
<% end %>
