<%= render 'shared/error_messages', :object => @qdet %>
<script type='text/javascript' src='query_diff_exp_transcripts.js' ></script>
<%= form_for(@qdet, :url => 'query_diff_exp_transcripts') do |qdet| %>
  <h1>Query Transcript Differential Expression Tests
    <%= help_tip(:query_diff_exp_genes) %>
  </h1>
  <p>
    <%= qdet.label :dataset_id, "Dataset to query" %>
    <%= qdet.select :dataset_id, 
      options_for_select(@qdet.names_and_ids_for_available_datasets, 
        @qdet.dataset_id) %><br/>
    <%= label :sample_comparison_id_pair, "Samples to compare" %>
    <%= qdet.select :sample_comparison_id_pair, 
      options_for_select(@qdet.available_sample_comparisons,
        @qdet.sample_comparison_id_pair)  %> 
  </p>
  <p>
    <div>
        <%= help_tip(:cutoff) %>
        <%= qdet.label(:fdr_or_p_value, "Filter By:") %>
        <%= qdet.radio_button(:fdr_or_p_value, :p_value) %>
        <%= qdet.label(:filter_by_p_value, "P-value") %>
        <%= qdet.radio_button(:fdr_or_p_value, :fdr) %>
        <%= qdet.label(:filter_by_fdr, "FDR") %>
    </div>
    <div>
        <%= qdet.label(:cutoff, "Select cutoff:") %>
        <%= qdet.text_field(:cutoff, {:size=>10}) %>
    </div>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <p>
    <div>
        <%= qdet.label(:go_terms, "GO Terms, separated by semicolons") %>
        <%= qdet.text_field(:go_terms, :size => 70) %>
        <%= help_tip(:go_terms) %>
        <%= link_to('Browse GO Terms','http://amigo.geneontology.org/cgi-bin/amigo/browse.cgi', :target => '_blank') %>
    </div>
    <div>
        <%= qdet.label(:go_ids, "GO IDs (a.k.a Accessions), separated by semicolons") %>
        <%= qdet.text_field(:go_ids) %>
        <%= help_tip(:go_ids) %>
        <%= link_to('Browse GO Terms','http://amigo.geneontology.org/cgi-bin/amigo/browse.cgi', :target => '_blank') %>
    </div>
    <div>
        <%= qdet.label(:transcript_name, "Transcript name:") %>
        <%= qdet.text_field(:transcript_name) %>
    </div>
  </p>
  <p><%= qdet.submit("Query", :disable_with => "Querying...") %></p>
<% end %>
<!--Section for the query results-->
<% if @qdet.show_results? %>
  <p>
    <%= @qdet.results.length %> results found for 
    <em><b>
      <%= @qdet.sample_1_name %>
      </b> vs <b>
      <%= @qdet.sample_2_name %>
    </b></em>
  </p>
  <%= javascript_include_tag 'downloadify/swfobject.js' %>
  <%= javascript_include_tag 'downloadify/downloadify.min.js' %>
  <%= javascript_include_tag 'downloadify_wrapper.js' %>
  <%= javascript_include_tag 'Stupid-Table-Plugin/stupidtable.min.js' %>
  <%= javascript_include_tag 'table_sorting.js' %>
  <p id="downloadify">
      You must have Flash 10 installed to download this file.
  </p>
  <div style="float:center">
    <%= link_to('Learn More About These Table Columns',
                'https://github.com/fatPerlHacker/queryable-rna-seq-database/' +
                'wiki/Step-3:-Querying-Data#output-table-data-columns') %>
  </div>
  <!--Table containing the query results-->
  <table border="1" id="query_results_table">
      <thead>
          <tr>
            <th data-sort='string'>
              <table>
                <tr>
                  <td>Transcript</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
            <th data-sort='string'>
              <table>
                <tr>
                  <td>Associated Gene</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
            <th>GO Terms</th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>Test Statistic</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>P-Value</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>FDR</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td><%= @qdet.sample_1_name %> FPKM</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td><%= @qdet.sample_2_name %> FPKM</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>Log Fold Change</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
            <th data-sort='string'>
              <table>
                <tr>
                  <td>Test Status</td>
                  <td class="sort-arrow-td"><%= neutral_sort_arrow %></td>
                </tr>
              </table>
            </th>
          </tr>
      </thead>
      <tbody>
          <% @qdet.results.each do |result| %>
              <tr>
                  <td>
                    <%= link_to_fasta_sequence_for_transcript(@qdet.dataset_id, 
                            result[:transcript_name]) %>
                  </td>
                  <td>
                    <% if result[:gene_name].nil? %>
                      Not available
                    <% else %>
                      <%= link_to_fasta_sequences_for_gene(@qdet.dataset_id, 
                              result[:gene_name]) %>
                    <% end %>
                  </td>
                  <td>
                    <% if result[:go_terms].empty? == false %>
                      <ul>
                      <!-- Sort by ascending GO ID for the go terms-->
                      <% result[:go_terms].sort{
                            |a,b| a.id.gsub(/GO:/,'').to_i <=> b.id.gsub(/GO:/,'').to_i
                         }.each do |go_term| %>
                        <li>
                            <%= link_to_amigo_web_page_for_term(
                                  "#{go_term.term} [#{go_term.id}]",go_term.id)
                            %>
                        </li>
                      <% end %>
                      </ul>
                    <% else %>
                      No GO ids found.
                    <% end %>
                  </td>
                  <td>
                    <% if result[:test_statistic].nil? %>
                      Not available
                    <% else %>
                      <pre><%= "%8.5f" % result[:test_statistic] %></pre>
                    <% end %>
                  </td>
                  <td><pre><%= "%6.5f" % result[:p_value] %></pre></td>
                  <td><pre><%= "%6.5f" % result[:fdr] %></pre></td>
                  <td><pre><%= "%9.3f" % result[:sample_1_fpkm] %></pre></td>
                  <td><pre><%= "%9.3f" % result[:sample_2_fpkm] %></pre></td>
                  <td><pre><%= "%7.3f" % result[:log_fold_change] %></pre></td>
                  <td>
                    <% if result[:test_status].nil? %>
                      Not available
                    <% else %>
                      <%= result[:test_status] %>
                    <% end %>
                  </td>
              </tr>
          <% end %>
      </tbody>
  </table>
<% end %>
