<%= form_tag({:action => :query_diff_exp_transcripts}) do %>
  <h1>Please select your differential expression search options</h1>
  <p>
    <%= label(:comparison_data_set, "Comparison of expression:") %>
    <%= select_tag(:comparison_data_set, options_for_select([['Brain vs Liver', 1], ['Spleen vs Gizzard', 2]])) %>
  </p>
  <p>
    <div>
        <%= label(:fdr_or_pvalue, "Filter By:") %>
        <%= radio_button_tag(:filter_by, :p_value, true) %>
        <%= label(:filter_by_p_value, "P-value") %>
        <%= radio_button_tag(:filter_by, :fdr) %>
        <%= label(:filter_by_fdr, "FDR") %>
    </div>
    <div>
        <%= label(:cutoff, "Select cutoff:") %>
        <%= select_tag(:cutoff, options_for_select([['0.01', 0.01], ['0.005', 0.005],['0.001', 0.001],['0.0001', 0.0001],['0.00001', 0.00001],['Other', 'Other']],'Other')) %>
        <%= label(:other_cutoff_value, "Enter Value:") %>
        <%= text_field_tag(:other_cutoff_value) %>
    </div>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <p>
    <div>
        <%= check_box_tag(:go_names) %>
        <%= label(:go_names, "GO Names (for associated genes) (separated by commas)") %>
        <%= text_field_tag(:go_names) %>
    </div>
    <div>
        <%= check_box_tag(:go_numbers) %>
        <%= label(:go_numbers, "GO Numbers (for associated genes) (separated by commas)") %>
        <%= text_field_tag(:go_numbers) %>
    </div>
    <div>
        <%= check_box_tag(:transcript_length) %>
        <%= label(:transcript_length, "Transcript length") %>
        <%= select_tag(:transcript_length_comparison, options_for_select([['>', '>'],['>=', '>='],['<', '<'],['=<', '=<'],['=', '=']],'>')) %>
        <%= text_field_tag(:transcript_length_value) %>
    </div>
    <div>
        <%= check_box_tag("transcript_name?") %>
        <%= label(:transcript_name, "Transcript name:") %>
        <%= text_field_tag(:transcript_name) %>
    </div>
  </p>
  <p><%= submit_tag("Search") %></p>
<% end %>

<% if not @qdet.search_results.nil? %>
  <p>
<% end %>
<table border="1">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Associated gene</th>
            <th>GO IDs</th>
            <th>P-value</th>
            <th>FDR</th>
            <th>Sample 1 Name</th>
            <th>Sample 2 Name</th>
            <th>Sample 1 FPKM</th>
            <th>Sample 2 FPKM</th>
            <th>Log Fold Change</th>
        </tr>
    </thead>
    <tbody>
        <% @qdet.search_results.each do |search_result| %>
            <tr>
                <td>
                  <%= link_to(search_result.transcript_name, get_transcripts_path(:dataset=>@qdet.dataset,:name=>search_result.transcript_name))%>
                </td>
                <td><%= search_result.gene_name %></td>
                <td>
                  <% if search_result.go_ids.empty? == false %>
                    <% search_result.go_ids.each do |go_id| %>
                      <%= link_to(go_id, "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=#{go_id}") %>
                    <% end %>
                  <% else %>
                    No GO ids found.
                  <% end %>
                </td>
                <td><%= search_result.p_value %></td>
                <td><%= search_result.fdr %></td>
                <td><%= search_result.sample_1_name %></td>
                <td><%= search_result.sample_2_name %></td>
                <td><%= search_result.sample_1_fpkm %></td>
                <td><%= search_result.sample_2_fpkm %></td>
                <td><%= search_result.log_fold_change %></td>
            </tr>
        <% end %>
    </tbody>
</table>