<%= form_for(@qdet,{:url => :query_diff_exp_transcripts}) do |qdet| %>
  <h1>Please select your differential expression search options</h1>
  <p>
    <%= qdet.label :dataset, "Dataset to query" %>
    <%= qdet.select :dataset, options_for_select(@qdet.available_datasets) %><br/>
    <%= qdet.label :samples_to_compare, "Samples to compare" %>>
    <%= qdet.select :samples_to_compare, options_for_select(@qdet.available_samples_for_comparison) %><br/>
  </p>
  <p>
    <div>
        <%= label(:fdr_or_pvalue, "Filter By:") %>
        <%= qdet.radio_button :fdr_or_pvalue, :p_value, true %>
        <%= qdet.label(:filter_by_p_value, "P-value") %>
        <%= qdet.radio_button(:fdr_or_pvalue, :fdr) %>
        <%= qdet.label(:filter_by_fdr, "FDR") %>
    </div>
    <div>
        <%= qdet.label(:cutoff, "Select cutoff:") %>
        <!--<%= #qdet.select(:cutoff, options_for_select([['0.01', 0.01], ['0.005', 0.005],['0.001', 0.001],['0.0001', 0.0001],['0.00001', 0.00001],['Other', 'Other']],'Other'))
        %>
        <%= #qdet.label(:other_cutoff_value, "Enter Value:") 
        %>-->
        <%= qdet.text_field(:cutoff) %>
    </div>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <!--TODO: Have these enable/disabled based on whether the check boxes are clicked -->
  <p>
    <div>
        <%= qdet.check_box(:filter_by_go_names) %>
        <%= qdet.label(:go_names, "GO Names (for associated genes) (separated by commas)") %>
        <%= qdet.text_field(:go_names) %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_go_numbers) %>
        <%= qdet.label(:go_numbers, "GO Numbers (for associated genes) (separated by commas)") %>
        <%= qdet.text_field(:go_numbers) %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_transcript_length) %>
        <%= label(:transcript_length, "Transcript length") %>
        <%= qdet.select(:transcript_length_comparison_sign, options_for_select(['>','>=','<','=<','='],'>')) %>
        <%= qdet.text_field(:transcript_length_value) %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_transcript_name) %>
        <%= qdet.label(:transcript_name, "Transcript name:") %>
        <%= qdet.text_field(:transcript_name) %>
    </div>
  </p>
  <p><%= submit_tag("Search") %></p>
<% end %>

<% if not @qdet.search_results.nil? %>
  <p><%= @qdet.search_results.length %> results found</p>
<% end %>
<table border="1">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Associated gene</th>
            <th>GO IDs</th>
            <th>P-value</th>
            <th>FDR</th>
            <th>Sample 1 Name</th>
            <th>Sample 2 Name</th>
            <th>Sample 1 FPKM</th>
            <th>Sample 2 FPKM</th>
            <th>Log Fold Change</th>
        </tr>
    </thead>
    <tbody>
        <% @qdet.search_results.each do |search_result| %>
            <tr>
                <td>
                  <%= link_to(search_result.transcript_name, get_transcripts_path(:dataset=>@qdet.dataset,:name=>search_result.transcript_name))%>
                </td>
                <td><%= search_result.gene_name %></td>
                <td>
                  <% if search_result.go_ids.empty? == false %>
                    <% search_result.go_ids.each do |go_id| %>
                      <%= link_to(go_id, "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=#{go_id}") %>
                    <% end %>
                  <% else %>
                    No GO ids found.
                  <% end %>
                </td>
                <td><%= search_result.p_value %></td>
                <td><%= search_result.fdr %></td>
                <td><%= search_result.sample_1_name %></td>
                <td><%= search_result.sample_2_name %></td>
                <td><%= search_result.sample_1_fpkm %></td>
                <td><%= search_result.sample_2_fpkm %></td>
                <td><%= search_result.log_fold_change %></td>
            </tr>
        <% end %>
    </tbody>
</table>