<%= render 'shared/error_messages', :object => @qdet %>
<script type='text/javascript' src='query_diff_exp_transcripts.js' ></script>
<%= form_for(@qdet, :url => 'query_diff_exp_transcripts') do |qdet| %>
  <h1>Query Transcript Differential Expression Tests
    <%= help_tip(:query_diff_exp_transcripts) %>
  </h1>
  <p>
    <%= qdet.label :dataset_id, "Dataset to query" %>
    <%= qdet.select :dataset_id, 
      options_for_select(@qdet.names_and_ids_for_available_datasets, 
        @qdet.dataset_id) %><br/>
    <span id="sample_comparisons_container">
      <%= render 'diff_exp_samples_for_dataset', :object => @qdet %>
    </span>
  </p>
  <p>
    <%= render 'diff_exp_cutoff', :object => @qdet %>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <p>
    <%= render 'go_query_filters', :object => @qdet %>
    <div>
        <%= qdet.label(:transcript_name, "Transcript name:") %>
        <%= qdet.text_field(:transcript_name) %>
    </div>
  </p>
  <br/>
  <%= render 'results_display_method', :q => qdet %>
  <%= render 'query_regular_db_query_submission', :q => qdet %>
  <!--Section for the query results-->
  <% if @qdet.show_results? %>
    <p>
      <%= @qdet.results_count %> results found for 
      <em><b>
        <%= @qdet.sample_1_name %>
        </b> vs <b>
        <%= @qdet.sample_2_name %>
      </b></em>
    </p>
    <div>
      <%= qdet.label(:sort_column, 'Sort by:') %>
      <%= qdet.select(:sort_column,
        options_for_select(@qdet.available_sort_columns,
          @qdet.sort_column)) %>
      <%= qdet.select(:sort_order, 
        options_for_select(@qdet.available_sort_orders, 
        @qdet.sort_order)) %>
      <%= qdet.submit("Sort", :disable_with => "Sorting...") %>
    </div>
    <div>
      <%= qdet.label(:page_number, 'Page:') %>
      <%= qdet.select(:page_number,
        options_for_select(@qdet.available_page_numbers,
        @qdet.page_number)) %>
      <%= qdet.submit("Go To Page", :disable_with => "Going to Page...") %>
    </div>
    <br/>
    <div style="float:center">
      <%= link_to('Learn More About These Table Columns',
                  'https://sites.google.com/site/rnaseqanalysispipeline/' +
                  'user-manual/step-5-query-and-blast-your-data' +
                  '#TOC-Output-Table-Data-Columns', :target => '_blank') %>
    </div>
    <!--Table containing the query results-->
    <table border="1" id="query_results_table">
        <thead>
            <tr class="header_row">
              <th>Transcript</th>
              <th>Associated Gene</th>
              <% if @qdet.has_go_terms == true %>
                <th>GO Terms</th>
              <% end %>
              <% if @qdet.program_used == 'cuffdiff' %>
                <th>Test Statistic</th>
              <% end %>
              <th>P-Value</th>
              <th>FDR</th>
              <th><%= @qdet.sample_1_name %> FPKM</th>
              <th><%= @qdet.sample_2_name %> FPKM</th>
              <th>Log Fold Change</th>
              <% if @qdet.program_used == 'cuffdiff' %>
                <th>Test Status</th>
              <% end %>
            </tr>
        </thead>
        <tbody>
            <% @qdet.results.each do |result| %>
                <tr class="body_row">
                    <td>
                      <%= link_to_fasta_sequence_for_transcript(@qdet.dataset_id, 
                              result[:transcript_name]) %>
                    </td>
                    <td>
                      <% if result[:gene_name].nil? %>
                        Not available
                      <% else %>
                        <%= link_to_fasta_sequences_for_gene(@qdet.dataset_id, 
                                result[:gene_name]) %>
                      <% end %>
                    </td>
                    <% if @qdet.has_go_terms == true %>
                      <td>
                        <%= render 'list_of_go_terms',
                                   :go_ids_string => result[:go_ids],
                                   :go_terms_string => result[:go_terms] %>
                      </td>
                    <% end %>
                    <% if @qdet.program_used == 'cuffdiff' %>
                      <td><pre><%= ("% .5E" % result[:test_statistic]) %></pre></td>
                    <% end %>
                    <td><pre><%= ("%6.5f" % result[:p_value]) %></pre></td>
                    <td><pre><%= ("%6.5f" % result[:fdr]) %></pre></td>
                    <td><pre><%= ("% .3E" % result[:sample_1_fpkm]) %></pre></td>
                    <td><pre><%= ("% .3E" % result[:sample_2_fpkm]) %></pre></td>
                    <td><pre><%= ("% .3E" % result[:log_fold_change]) %></pre></td>
                    <% if @qdet.program_used == 'cuffdiff' %>
                      <td><%= result[:test_status] %></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
  <% end %>
<% end %>
