<%= render 'shared/error_messages', :object => @qdeg %>
<script type='text/javascript' src='query_diff_exp_genes.js' ></script>
<%= form_for(@qdeg, :url => 'query_diff_exp_genes') do |qdeg| %>
  <h1>
    Query Gene Differential Expression Tests
    <%= help_tip(:query_diff_exp_genes) %>
  </h1>
  <p>
    <%= qdeg.label :dataset_id, "Dataset to query" %>
    <%= qdeg.select :dataset_id, 
            options_for_select(@qdeg.names_and_ids_for_available_datasets,
                @qdeg.dataset_id) %><br/>
    <span id="sample_comparisons_container">
      <%= render 'diff_exp_samples_for_dataset', :object => @qdeg %>
    </span>
  </p>
  <p>
    <%= render 'diff_exp_cutoff', :object => @qdeg %>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <p>
    <%= render 'go_query_filters', :object => @qdeg %>
    <div>
        <%= qdeg.label(:gene_name, "Gene name:") %>
        <%= qdeg.text_field(:gene_name) %>
        <%= help_tip(:gene_name) %>
    </div>
  </p>
  <br/>
  <%= render 'results_display_method', :q => qdeg %>
  <%= render 'query_regular_db_query_submission', :q => qdeg %>
  <!--Section for the query results-->
  <% if @qdeg.show_results? %>
    <p>
      <%= @qdeg.results_count %> results found for 
      <em><b>
        <%= @qdeg.sample_1_name %>
        </b> vs <b>
        <%= @qdeg.sample_2_name %>
      </b></em>
    </p>
    <div>
      <%= qdeg.label(:sort_column, 'Sort by:') %>
      <%= qdeg.select(:sort_column,
        options_for_select(@qdeg.available_sort_columns,
          @qdeg.sort_column)) %>
      <%= qdeg.select(:sort_order, 
        options_for_select(@qdeg.available_sort_orders, 
        @qdeg.sort_order)) %>
      <%= qdeg.submit("Sort", :disable_with => "Sorting...") %>
    </div>
    <div>
      <%= qdeg.label(:page_number, 'Page:') %>
      <%= qdeg.select(:page_number,
        options_for_select(@qdeg.available_page_numbers,
        @qdeg.page_number)) %>
      <%= qdeg.submit("Go To Page", :disable_with => "Going to Page...") %>
    </div>
    <br/>
    <!--Section for the query results-->
    <div style="float:center">
      <%= link_to('Learn More About These Table Columns',
                  'https://sites.google.com/site/rnaseqanalysispipeline/' +
                  'user-manual/step-5-query-and-blast-your-data' +
                  '#TOC-Output-Table-Data-Columns1') %>
    </div>
    <!--Table containing the query results-->
    <table border="1" id="query_results_table">
        <thead>
          <tr class="header_row">
            <th>Gene</th>
            <th>Associated Transcripts</th>
            <% if @qdeg.has_go_terms == true %>
              <th>GO Terms</th>
            <% end %>
            <% if @qdeg.program_used == 'cuffdiff' %>
              <th>Test Statistic</th>
            <% end %>
            <th>P-Value</th>
            <th>FDR</th>
            <th><%= @qdeg.sample_1_name %> FPKM</th>
            <th><%= @qdeg.sample_2_name %> FPKM</th>
            <th>Log Fold Change</th>
            <% if @qdeg.program_used == 'cuffdiff' %>
              <th>Test Status</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
            <% @qdeg.results.each do |result| %>
              <tr class="body_row">
                <td>
                  <%= link_to_fasta_sequences_for_gene(@qdeg.dataset_id, 
                              result[:gene_name]) %>
                </td>
                <td>
                  <ul class="list_cell">
                  <% result[:transcript_names].strip.split(';').sort.each do |transcript_name| %>
                    <li><%= link_to_fasta_sequence_for_transcript(@qdeg.dataset_id,
                              transcript_name) %></li>
                  <% end %>
                  </ul>
                </td>
                <% if @qdeg.has_go_terms == true %>
                  <td>
                    <%= render 'list_of_go_terms',
                               :go_ids_string => result[:go_ids],
                               :go_terms_string => result[:go_terms] %>
                  </td>
                <% end %>
                <% if @qdeg.program_used == 'cuffdiff' %>
                  <td><pre><%= ("% .5E" % result[:test_statistic]) %></pre></td>
                <% end %>
                <td><pre><%= ("%6.5f" % result[:p_value]) %></pre></td>
                <td><pre><%= ("%6.5f" % result[:fdr]) %></pre></td>
                <td><pre><%= ("% .3E" % result[:sample_1_fpkm]) %></pre></td>
                <td><pre><%= ("% .3E" % result[:sample_2_fpkm]) %></pre></td>
                <td><pre><%= ("% .3E" % result[:log_fold_change]) %></pre></td>
                <% if @qdeg.program_used == 'cuffdiff' %>
                  <td><%= result[:test_status] %></td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
    </table>
  <% end %>
<% end %>
