<!-- 
* ===========================================================================
*    This page is based off of the www-blast blast.html page 
*    by Sergei Shavirin.
* ===========================================================================
-->
<%= form_tag({:action => :query_blast_db}) do %>
    <h2>Choose program to use and database to search:</h2>
    <p>
        <%= label(:select_program, "Program:") %>
        <%= select_tag(:select_program, options_for_select([['blastn', 'blastn'],['blastp','blastp'],['blastx','blastx'],['tblastn','tblastn'],['tblastx','tblastx']],'blastn')) %>
        <%= label(:select_dataset, "Dataset:") %>
        <%= select_tag(:select_program, options_for_select([['Mus musculus 8.10.2012', '72'],['Mus musculus 5.11.2012', '64'],['Rattus norvegicus 18','45']],'72')) %>
    </p>
    <p>
    <%= label(:fasta_text_area, "Enter sequence below in FASTA format") %><br/>
    <%= text_area(:fasta_text_area, :sequence, :cols => 80, :rows => 6) %><br/>
    <%= label(:load_fasta_from_disk, "Or load it from disk") %>
    <%= file_field_tag :load_fasta_from_disk %><br/>
    </p>
    <p>
    Set subsequence: 
    <label for="subsequence_from">From</label><%= text_field_tag(:subsequence_from) %>
     <label for="subsequence_to">To</label><%= text_field_tag(:subsequence_to) %>
    </p>
    <p><%= button_tag("Clear Sequence", :onclick=>"clear_sequence();", :type=>"button") %> <%= submit_tag("Search") %></p>
    <hr/>
    <p>
        The query sequence is filtered for low complexity regions by default.<br/>
        Filter<%= check_box_tag(:low_complexity,"true",true) %><label for="low_complexity">Low complexity</label>
        <%= check_box_tag(:mask_for_lookup_table_only,"true",false)%><label for="mask_for_lookup_table_only">Mask for lookup table only</label>
    </p>
    <p>
        
    </p>
    
<% end %>

<script type="text/javascript">
    function clear_sequence(){
        var fasta_text_area = document.getElementById("fasta_text_area_sequence");
        var subsequence_from = document.getElementById("subsequence_from");
        var subsequence_to = document.getElementById("subsequence_to");
        fasta_text_area.value='';
        subsequence_from.value='';
        subsequence_to.value='';
        fasta_text_area.focus();
    }
</script>