<%= render 'shared/error_messages', :object => @qdet %>
<script type='text/javascript' src='query_diff_exp_transcripts.js' ></script>
<%= javascript_tag do %>
  view_info = {action: "<%= params[:action] %>"};
<% end %>
<%= javascript_include_tag 'large_query_loader.js' %>
<%= javascript_include_tag 'downloadify/swfobject.js' %>
<%= javascript_include_tag 'downloadify/downloadify.min.js' %>
<%= javascript_include_tag 'downloadify_wrapper.js' %>
<%= javascript_include_tag 'Stupid-Table-Plugin/stupidtable.min.js' %>
<%= javascript_include_tag 'table_sorting.js' %>
<%= form_for(@qdet, :url => 'query_diff_exp_transcripts') do |qdet| %>
  <h1>Query Transcript Differential Expression Tests
    <%= help_tip(:query_diff_exp_transcripts) %>
  </h1>
  <p>
    <%= qdet.label :dataset_id, "Dataset to query" %>
    <%= qdet.select :dataset_id, 
      options_for_select(@qdet.names_and_ids_for_available_datasets, 
        @qdet.dataset_id) %><br/>
    <span id="sample_comparisons_container">
      <%= render 'diff_exp_samples_for_dataset', :object => @qdet %>
    </span>
  </p>
  <p>
    <%= render 'diff_exp_cutoff', :object => @qdet %>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <p>
    <%= render 'go_query_filters', :object => @qdet %>
    <div>
        <%= qdet.label(:transcript_name, "Transcript name:") %>
        <%= qdet.text_field(:transcript_name) %>
    </div>
    <%= qdet.hidden_field :piece, :value => "0" %>
  </p>
  <p><%= qdet.submit('Query', :id => :submit_button) %></p>
<% end %>
<!--Section for the query results-->
<div id="query_results_div" style="display:none">
  <p>
    <%= querying_indicator %>
    <span id="num_results_found"></span> for
    <em><b><span id="results_for"></span></b></em>
  </p>
  <p id="downloadify">
      You must have Flash 10 installed to download this file.
  </p>
  <div style="float:center">
    <%= link_to('Learn More About These Table Columns',
                'https://sites.google.com/site/rnaseqanalysispipeline/' +
                'user-manual/step-5-query-and-blast-your-data' +
                '#TOC-Output-Table-Data-Columns') %>
  </div>
  <!--Table containing the query results-->
  <table border="1" id="query_results_table">
      <thead id="insert_header_row_here">
          
      </thead>
      <tbody id="insert_query_results_here">

      </tbody>
  </table>
</div>
