<%= render 'shared/error_messages', :object => @qti %>
<script type='text/javascript' src='query_transcript_isoforms.js' ></script>
<%= javascript_tag do %>
  view_info = {action: "<%= params[:action] %>"};
<% end %>
<%= javascript_include_tag 'large_query_loader.js' %>
<%= javascript_include_tag 'downloadify/swfobject.js' %>
<%= javascript_include_tag 'downloadify/downloadify.min.js' %>
<%= javascript_include_tag 'downloadify_wrapper.js' %>
<%= javascript_include_tag 'Stupid-Table-Plugin/stupidtable.min.js' %>
<%= javascript_include_tag 'table_sorting.js' %>
<%= form_for(@qti, :url => '/query_analysis/query_transcript_isoforms') do |qti| %>
  <h1>Please select your novel isoforms and other transcript classification search options</h1>
  <p>
    <%= qti.label :dataset_id, "Dataset to query" %>
    <%= qti.select :dataset_id, options_for_select(@qti.names_and_ids_for_available_datasets, @qti.dataset_id) %><br/>
    <span id="samples_container">
      <%= render 'transcript_isoforms_samples_for_dataset', :object => @qti %>
    </span>
  </p>
  <h2>Query filtering options</h2>
  <p>
    <div>
      <table>
        <tr>
          <td>Class Codes</td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_equal) %>
            <%= qti.label(:class_code_equal, '=') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_c) %>
            <%= qti.label(:class_code_c, 'c') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_j) %>
            <%= qti.label(:class_code_j, 'j') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_e) %>
            <%= qti.label(:class_code_e, 'e') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_i) %>
            <%= qti.label(:class_code_i, 'i') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_o) %>
            <%= qti.label(:class_code_o, 'o') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_p) %>
            <%= qti.label(:class_code_p, 'p') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_r) %>
            <%= qti.label(:class_code_r, 'r') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_u) %>
            <%= qti.label(:class_code_u, 'u') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_x) %>
            <%= qti.label(:class_code_x, 'x') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_s) %>
            <%= qti.label(:class_code_s, 's') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_dot) %>
            <%= qti.label(:class_code_dot, '.') %>
          </td>
          <td>
            <%= link_to('See Class Code Definitions','http://cufflinks.cbcb.umd.edu/manual.html#class_codes', :target => '_blank') %>
          </td>
        </tr>
        </table>
    </div>
    <%= render 'go_query_filters', :object => @qti %>
    <div>
        <%= label(:transcript_length, "Transcript length") %>
        <%= qti.select(:transcript_length_comparison_sign, 
            options_for_select(qti.object.available_transcript_length_comparison_signs,
              qti.object.transcript_length_comparison_sign)) %>
        <%= qti.text_field(:transcript_length_value) %>
    </div>
    <div>
        <%= qti.label(:transcript_name, "Transcript name:") %>
        <%= qti.text_field(:transcript_name) %>
    </div>
    <%= qti.hidden_field :piece, :value => "0" %>
  </p>
  <p><%= qti.submit('Query', :id => :submit_button) %></p>
<% end %>
<br/>
<!--Section for the query results-->
<div id="query_results_div" style="display:none">
  <p>
    <%= querying_indicator %>
    <span id="num_results_found"></span> for
    <em><b><span id="results_for"></span></b></em>
  </p>
  <p id="downloadify">
      You must have Flash 10 installed to download this file.
  </p>
  <div style="float:center">
    <%= link_to('Learn More About These Table Columns',
                'https://sites.google.com/site/rnaseqanalysispipeline/' +
                'user-manual/step-5-query-and-blast-your-data' +
                '#TOC-Output-Table-Data-Columns2') %>
  </div>
  <!--Table containing the query results-->
  <table border="1" id="query_results_table">
      <thead>
          <tr class="header_row">
            <th data-sort='string'>
              <table>
                <tr>
                  <td>Transcript</td>
                  <td class="sort-arrow-td"></td>
                </tr>
              </table>
            </th>
            <th data-sort='string'>
              <table>
                <tr>
                  <td>Associated Gene</td>
                  <td class="sort-arrow-td"></td>
                </tr>
              </table>
            </th>
            <% if @qti.go_terms_status == 'done' %>
              <th>GO Terms</th>
            <% end %>
            <th data-sort='string'>
              <table>
                <tr>
                  <td>Class Code</td>
                  <td class="sort-arrow-td"></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>Transcript length</td>
                  <td class="sort-arrow-td"></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>Coverage</td>
                  <td class="sort-arrow-td"></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>FPKM</td>
                  <td class="sort-arrow-td"></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>FPKM Lower Bound</td>
                  <td class="sort-arrow-td"></td>
                </tr>
              </table>
            </th>
            <th data-sort='float'>
              <table>
                <tr>
                  <td>FPKM Upper Bound</td>
                  <td class="sort-arrow-td"></td>
                </tr>
              </table>
            </th>
            <th data-sort='string'>
              <table>
                <tr>
                  <td>Quantification Status</td>
                  <td></td>
                </tr>
              </table>
            </th>
          </tr>
      </thead>
      <tbody id="insert_query_results_here">
      
      </tbody>
  </table>
</div>
