<%= render 'shared/error_messages', :object => @qdet %>
<script type='text/javascript' src='query_diff_exp_transcripts.js' ></script>
<%= javascript_include_tag 'downloadify/swfobject.js' %>
<%= javascript_include_tag 'downloadify/downloadify.min.js' %>
<%= javascript_include_tag 'Stupid-Table-Plugin/stupidtable.min.js' %>
<%= form_for(@qdet, :url => 'query_diff_exp_transcripts') do |qdet| %>
  <h1>Please select your transcript differential expression search options</h1>
  <p>
    <%= qdet.label :dataset_id, "Dataset to query" %>
    <%= qdet.select :dataset_id, options_for_select(@qdet.names_and_ids_for_available_datasets, @qdet.dataset_id) %><br/>
    <%= #qdet.label :samples_to_compare, "Samples to compare" 
    %>
    <%= #qdet.select :samples_to_compare, options_for_select(@qdet.available_samples_for_comparison) 
    %>
    <%= label :samples_to_compare, "Samples to compare" %>
    <%= qdet.select :sample_1, options_for_select(@qdet.available_samples_for_comparison,@qdet.sample_1)  %> 
    vs 
    <%= qdet.select :sample_2, options_for_select(@qdet.available_samples_for_comparison,@qdet.sample_2) %>
  </p>
  <p>
    <div>
        <%= label(:fdr_or_pvalue, "Filter By:") %>
        <%= qdet.radio_button(:fdr_or_pvalue, :p_value) %>
        <%= qdet.label(:filter_by_p_value, "P-value") %>
        <%= qdet.radio_button(:fdr_or_pvalue, :fdr) %>
        <%= qdet.label(:filter_by_fdr, "FDR") %>
    </div>
    <div>
        <%= qdet.label(:cutoff, "Select cutoff:") %>
        <!--<%= #qdet.select(:cutoff, options_for_select([['0.01', 0.01], ['0.005', 0.005],['0.001', 0.001],['0.0001', 0.0001],['0.00001', 0.00001],['Other', 'Other']],'Other'))
        %>
        <%= #qdet.label(:other_cutoff_value, "Enter Value:") 
        %>-->
        <%= qdet.text_field(:cutoff, {:size=>10}) %>
    </div>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <p>
    <div>
        <%= qdet.check_box(:filter_by_go_names) %>
        <%= qdet.label(:go_names, "GO Names (for associated genes) (separated by semicolons)") %>
        <%= qdet.text_field(:go_names) %>
        <%= link_to('Browse GO Terms','http://amigo.geneontology.org/cgi-bin/amigo/browse.cgi', :target => '_blank') %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_go_ids) %>
        <%= qdet.label(:go_ids, "GO IDs (for associated genes) (separated by semicolons)") %>
        <%= qdet.text_field(:go_ids) %>
        <%= link_to('Browse GO Terms','http://amigo.geneontology.org/cgi-bin/amigo/browse.cgi', :target => '_blank') %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_transcript_length) %>
        <%= label(:transcript_length, "Transcript length") %>
        <%= qdet.select(:transcript_length_comparison_sign, options_for_select(['>','>=','<','=<','='],'>')) %>
        <%= qdet.text_field(:transcript_length_value) %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_transcript_name) %>
        <%= qdet.label(:transcript_name, "Transcript name:") %>
        <%= qdet.text_field(:transcript_name) %>
    </div>
  </p>
  <p><%= qdet.submit("Query", :disable_with => "Querying...") %></p>
<% end %>
<!--Section for the query results-->
<% if @qdet.show_results? %>
  <p><%= @qdet.results.length %> results found for <em><b><%= @qdet.sample_1 %></b> vs <b><%= @qdet.sample_2 %></b></em></p>
  <p id="downloadify">
      You must have Flash 10 installed to download this file.
  </p>
  <!--Table containing the query results-->
  <table border="1" id="query_results_table">
      <thead>
          <tr>
              <th data-sort='string'>Transcript&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='string'>Associated Gene&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='string'>GO Terms&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'>P-value&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'>FDR&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'><%= @qdet.sample_1 %> FPKM&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'><%= @qdet.sample_2 %> FPKM&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'>Log Fold Change&nbsp;<%= neutral_sort_arrow %></th>
          </tr>
      </thead>
      <tbody>
          <% @qdet.results.each do |result| %>
              <tr>
                  <td>
                    <%= link_to_fasta_sequence_for_transcript(@qdet.dataset_id, result[:transcript_name]) %>
                  </td>
                  <td>
                    <%= link_to_fasta_sequences_for_gene(@qdet.dataset_id, result[:gene_name]) %>
                  </td>
                  <td>
                    <% if result[:go_terms].empty? == false %>
                      <ul>
                      <!-- Sort by ascending GO ID for the go terms-->
                      <% result[:go_terms].sort{|a,b| a.id.gsub(/GO:/,'').to_i <=> b.id.gsub(/GO:/,'').to_i}.each do |go_term| %>
                        <li><%= link_to_amigo_web_page_for_term("#{go_term.term} [#{go_term.id}]",go_term.id) %></li>
                      <% end %>
                      </ul>
                    <% else %>
                      No GO ids found.
                    <% end %>
                  </td>
                  <td><%= result[:p_value] %></td>
                  <td><%= result[:fdr] %></td>
                  <td><%= result[:sample_1_fpkm] %></td>
                  <td><%= result[:sample_2_fpkm] %></td>
                  <td><%= result[:log_fold_change] %></td>
              </tr>
          <% end %>
      </tbody>
  </table>
<% end %>