<%= render 'shared/error_messages', :object => @qti %>
<script type='text/javascript' src='query_transcript_isoforms.js' ></script>
<%= form_for(@qti, :url => '/query_analysis/query_transcript_isoforms') do |qti| %>
  <h1>
    Please select your novel isoforms and other transcript classification search options
    <%= help_tip(:query_transcript_isoforms) %>
  </h1>
  <p>
    <%= qti.label :dataset_id, "Dataset to query" %>
    <%= qti.select :dataset_id, options_for_select(@qti.names_and_ids_for_available_datasets, @qti.dataset_id) %><br/>
    <span id="sample_comparisons_container">
      <%= render 'transcript_isoforms_samples_for_dataset', :object => @qti %>
    </span>
  </p>
  <h2>Query filtering options</h2>
  <p>
    <div>
      <table>
        <tr>
          <td>Class Codes</td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_equal) %>
            <%= qti.label(:class_code_equal, '=') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_c) %>
            <%= qti.label(:class_code_c, 'c') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_j) %>
            <%= qti.label(:class_code_j, 'j') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_e) %>
            <%= qti.label(:class_code_e, 'e') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_i) %>
            <%= qti.label(:class_code_i, 'i') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_o) %>
            <%= qti.label(:class_code_o, 'o') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_p) %>
            <%= qti.label(:class_code_p, 'p') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_r) %>
            <%= qti.label(:class_code_r, 'r') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_u) %>
            <%= qti.label(:class_code_u, 'u') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_x) %>
            <%= qti.label(:class_code_x, 'x') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_s) %>
            <%= qti.label(:class_code_s, 's') %>
          </td>
          <td class='rounded-corners sub-section' style='padding-right:10px'>
            <%= qti.check_box(:class_code_dot) %>
            <%= qti.label(:class_code_dot, '.') %>
          </td>
          <td>
            <%= link_to('See Class Code Definitions','http://cufflinks.cbcb.umd.edu/manual.html#class_codes', :target => '_blank') %>
          </td>
        </tr>
        </table>
    </div>
    <div>
        <%= qti.label(:go_terms, "GO Terms, separated by semicolons") %>
        <%= qti.text_field(:go_terms, :size => 70) %>
        <%= help_tip(:go_terms) %>
        <%= link_to('Browse GO Terms','http://amigo.geneontology.org/cgi-bin/amigo/browse.cgi', :target => '_blank') %>
    </div>
    <div>
        <%= qti.label(:go_ids, "GO IDs (a.k.a Accessions), separated by semicolons") %>
        <%= qti.text_field(:go_ids) %>
        <%= help_tip(:go_ids) %>
        <%= link_to('Browse GO Terms','http://amigo.geneontology.org/cgi-bin/amigo/browse.cgi', :target => '_blank') %>
    </div>
    <div>
        <%= label(:transcript_length, "Transcript length") %>
        <%= qti.select(:transcript_length_comparison_sign, 
            options_for_select(qti.object.available_transcript_length_comparison_signs,
              qti.object.transcript_length_comparison_sign)) %>
        <%= qti.text_field(:transcript_length_value) %>
    </div>
    <div>
        <%= qti.label(:transcript_name, "Transcript name:") %>
        <%= qti.text_field(:transcript_name) %>
        <%= help_tip(:transcript_name) %>
    </div>
  </p>
  <br/>
  <%= render 'results_display_method', :q => qti %>
  <%= render 'query_regular_db_query_submission', :q => qti %>
  <!--Section for the query results-->
  <% if @qti.show_results? %>
    <p>
      <%= @qti.results_count %> results found for 
      <em><b>
        <%= @qti.sample_name %>
      </b></em>
    </p>
    <div>
      <%= qti.label(:sort_column, 'Sort by:') %>
      <%= qti.select(:sort_column,
        options_for_select(@qti.available_sort_columns,
          @qti.sort_column)) %>
      <%= qti.select(:sort_order, 
        options_for_select(@qti.available_sort_orders, 
        @qti.sort_order)) %>
      <%= qti.submit("Sort", :disable_with => "Sorting...") %>
    </div>
    <div>
      <%= qti.label(:page_number, 'Page:') %>
      <%= qti.select(:page_number,
        options_for_select(@qti.available_page_numbers,
        @qti.page_number)) %>
      <%= qti.submit("Go To Page", :disable_with => "Going to Page...") %>
    </div>
    <br/>
    <div style="float:center">
      <%= link_to('Learn More About These Table Columns',
                  'https://sites.google.com/site/rnaseqanalysispipeline/' +
                  'user-manual/step-5-query-and-blast-your-data' +
                  '#TOC-Output-Table-Data-Columns2', :target => '_blank') %>
    </div>
    <!--Table containing the query results-->
    <table border="1" id="query_results_table">
        <thead>
            <tr class="header_row">
              <th>Transcript</th>
              <th>Associated Gene</th>
              <% if @qti.has_go_terms %>
                <th>GO Terms</th>
              <% end %>
              <th>Class Code</th>
              <th>Transcript length</th>
              <th>Coverage</th>
              <th>FPKM</th>
              <th>FPKM Lower Bound</th>
              <th>FPKM Upper Bound</th>
              <th>Quantification Status</th>
            </tr>
        </thead>
        <tbody>
            <% @qti.results.each do |result| %>
                <tr class="body_row">
                  <td>
                    <%= link_to_fasta_sequence_for_transcript(@qti.dataset_id, 
                            result[:transcript_name]) %>
                  </td>
                  <td>
                    <%= link_to_fasta_sequences_for_gene(@qti.dataset_id, result[:gene_name]) %>
                  </td>
                  <% if @qti.has_go_terms == true %>
                    <td>
                      <%= render 'list_of_go_terms',
                                  :go_ids_string => result[:go_ids],
                                  :go_terms_string => result[:go_terms] %>
                    </td>
                  <% end %>
                  <td>
                    <%= result[:class_code] %>
                  </td>
                  <td><pre><%= "%5d" % result[:length] %></pre></td>
                  <td><pre><%= result[:coverage] %></pre></td>
                  <td><pre><%= "% .3E" % result[:fpkm] %></pre></td>
                  <td><pre><%= "% .3E" % result[:fpkm_lo] %></pre></td>
                  <td><pre><%= "% .3E" % result[:fpkm_hi] %></pre></td>
                  <td>
                    <%= result[:status] %>
                  </td>
                </tr>
            <% end %>
        </tbody>
    </table>
  <% end %>
<% end %>
