<!-- 
* ===========================================================================
*    This page is based off of http://129.130.115.74/tickblast/blast.html 
*    by Sergei Shavirin.
* ===========================================================================
-->

<h1>QueryAnalysis#query_blast_db</h1>
<p>Find me in app/views/query_analysis/query_blast_db.html.erb</p>
<%= form_tag({:action => :query_diff_exp_transcripts}) do %>
    <h2>Choose program to use and database to search:</h2>
    <p>
        <%= label(:select_program, "Program:") %>
        <%= select_tag(:select_program, options_for_select([['blastn', 'blastn']],'blastn')) %>
        <%= label(:select_dataset, "Dataset:") %>
        <%= select_tag(:select_program, options_for_select([['Mus musculus 8.10.2012', '72'],['Mus musculus 5.11.2012', '64'],['Rattus norvegicus 18','45']],'72')) %>
    </p>
    <p>
    <%= label(:fasta_text_area, "Enter sequence below in FASTA format") %><br/>
    <%= text_area(:fasta_text_area, :sequence, :cols => 80, :rows => 6) %><br/>
    <%= label(:load_fasta_from_disk, "Or load it from disk") %>
    <%= file_field_tag :load_fasta_from_disk %><br/>
    </p>
    <p>
    Set subsequence: 
    <%= label(:subsequence_from, "From") %><%= text_field_tag(:subsequence_from) %>
    <%= label(:subsequence_to, "To") %><%= text_field_tag(:subsequence_to) %>
    </p>
    <p><%= button_tag(:type => 'reset') do content_tag(:strong, 'Reset Search Choices') end %> <%= submit_tag("Search") %></p>
    <hr/>
<% end %>