<%= render 'shared/error_messages', :object => @qdet %>
<script type='text/javascript' src='query_diff_exp_transcripts.js' ></script>
<%= form_for(@qdet, :url => 'query_diff_exp_transcripts') do |qdet| %>
  <h1>Please select your differential expression search options</h1>
  <p>
    <%= qdet.label :dataset_id, "Dataset to query" %>
    <%= qdet.select :dataset_id, options_for_select(@qdet.names_and_ids_for_available_datasets, @qdet.dataset_id) %><br/>
    <%= #qdet.label :samples_to_compare, "Samples to compare" 
    %>
    <%= #qdet.select :samples_to_compare, options_for_select(@qdet.available_samples_for_comparison) 
    %>
    <%= label :samples_to_compare, "Samples to compare" %>
    <%= qdet.select :sample_1, options_for_select(@qdet.available_samples_for_comparison,@qdet.sample_1)  %> 
    vs 
    <%= qdet.select :sample_2, options_for_select(@qdet.available_samples_for_comparison,@qdet.sample_2) %>
  </p>
  <p>
    <div>
        <%= label(:fdr_or_pvalue, "Filter By:") %>
        <%= qdet.radio_button(:fdr_or_pvalue, :p_value) %>
        <%= qdet.label(:filter_by_p_value, "P-value") %>
        <%= qdet.radio_button(:fdr_or_pvalue, :fdr) %>
        <%= qdet.label(:filter_by_fdr, "FDR") %>
    </div>
    <div>
        <%= qdet.label(:cutoff, "Select cutoff:") %>
        <!--<%= #qdet.select(:cutoff, options_for_select([['0.01', 0.01], ['0.005', 0.005],['0.001', 0.001],['0.0001', 0.0001],['0.00001', 0.00001],['Other', 'Other']],'Other'))
        %>
        <%= #qdet.label(:other_cutoff_value, "Enter Value:") 
        %>-->
        <%= qdet.text_field(:cutoff, {:size=>10}) %>
    </div>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <p>
    <div>
        <%= qdet.check_box(:filter_by_go_names) %>
        <%= qdet.label(:go_names, "GO Names (for associated genes) (separated by commas)") %>
        <%= qdet.text_field(:go_names) %>
        <%= link_to('Browse GO Terms','http://amigo.geneontology.org/cgi-bin/amigo/browse.cgi', :target => '_blank') %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_go_ids) %>
        <%= qdet.label(:go_ids, "GO IDs (for associated genes) (separated by commas)") %>
        <%= qdet.text_field(:go_ids) %>
        <%= link_to('Browse GO Terms','http://amigo.geneontology.org/cgi-bin/amigo/browse.cgi', :target => '_blank') %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_transcript_length) %>
        <%= label(:transcript_length, "Transcript length") %>
        <%= qdet.select(:transcript_length_comparison_sign, options_for_select(['>','>=','<','=<','='],'>')) %>
        <%= qdet.text_field(:transcript_length_value) %>
    </div>
    <div>
        <%= qdet.check_box(:filter_by_transcript_name) %>
        <%= qdet.label(:transcript_name, "Transcript name:") %>
        <%= qdet.text_field(:transcript_name) %>
    </div>
  </p>
  <p><%= submit_tag("Search") %></p>
<% end %>

<% if @qdet.show_search_results? %>
  <p><%= @qdet.search_results.length %> results found for <em><b><%= @qdet.sample_1 %></b> vs <b><%= @qdet.sample_2 %></b></em></p>
  <table border="1" id="query_results_table">
      <thead>
          <tr>
              <th data-sort='string'>Transcript&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='string'>Associated gene&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='string'>GO IDs&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'>P-value&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'>FDR&nbsp;<%= neutral_sort_arrow %></th>
              <!--<th>Sample 1 Name</th>
              <th>Sample 2 Name</th>-->
              <th data-sort='float'><%= @qdet.sample_1 %> FPKM&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'><%= @qdet.sample_2 %> FPKM&nbsp;<%= neutral_sort_arrow %></th>
              <th data-sort='float'>Log Fold Change&nbsp;<%= neutral_sort_arrow %></th>
          </tr>
      </thead>
      <tbody>
          <% @qdet.search_results.each do |search_result| %>
              <tr>
                  <td>
                    <a href="#"><%= search_result[:transcript_name] 
                    #link_to(search_result.transcript_name, get_transcripts_path(:dataset=>@qdet.dataset,:name=>search_result.transcript_name))
                    %></a>
                  </td>
                  <td><%= search_result[:gene_name] %></td>
                  <td>
                    <% if search_result[:go_ids].empty? == false %>
                      <% search_result[:go_ids].sort.each do |go_id| %>
                        <%= link_to(go_id, "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=#{go_id}") %>
                      <% end %>
                    <% else %>
                      No GO ids found.
                    <% end %>
                  </td>
                  <td><%= search_result[:p_value] %></td>
                  <td><%= search_result[:fdr] %></td>
                  <!--<td><%= search_result[:sample_1_name] %></td>
                  <td><%= search_result[:sample_2_name] %></td>-->
                  <td><%= search_result[:sample_1_fpkm] %></td>
                  <td><%= search_result[:sample_2_fpkm] %></td>
                  <td><%= search_result[:log_fold_change] %></td>
              </tr>
          <% end %>
      </tbody>
  </table>
<% end %>