<%= render 'shared/error_messages', :object => @query_using_tblastx %>
<script type='text/javascript' src='query_using_tblastx.js'></script>
<%= form_for(@query_using_tblastx,{:url => "query_using_tblastx"}) do |bq| %>
  <h2>
    Choose Data Set to Search Using TBlastx
    <%= image_tag('question_mark.png', :id=>'tblastx_qtip')%>
  </h2>
  <%= render 'blast_dataset_selection', :bq => bq %>
  <hr/>
  <%= render 'blast_query_input', :bq => bq %>
  <hr/>
  <h2>Algorithm settings</h2>
  
  <%= render 'blast_general_parameters', :bq => bq %>
  <div class='sub-section rounded-corners'>
    <%= bq.label :genetic_code, "Genetic Code" %>
    <%= bq.select :genetic_code, 
        options_for_select(bq.object.available_genetic_codes,bq.object.genetic_code) %>
    <%= image_tag('question_mark.png', :id=>'genetic_code_qtip')%>
  </div>
  <br/>
  <div class='sub-section rounded-corners' style='padding:5px'>
    <p class='sub-section-heading-2'>Scoring Parameters</p>
      <%= bq.label :matrix, "Matrix" %>
      <%= bq.select :matrix, options_for_select(bq.object.available_matrices,
            bq.object.matrix) %>
      <%= image_tag('question_mark.png', :id => 'matrix_qtip') %>
  </div>
  <br/>
  <%= render 'blast_filters_and_masking', :bq => bq %> 
    <p>
      <%= button_tag 'Reset', :type => 'reset' %>
      <%= submit_tag("BLAST", :disable_with => "BLASTing...") %>
    </p>
<% end %>

<br/>
<div>
  <div class='sub-section-heading-2'>References</div>
  <ol>
    <li id="reference_1">
      National Center for Biotechnology Information, "Translated BLAST: tblastx", Jan. 2013;<br/>
      <% href = 'http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=tblastx' +
                '&BLAST_PROGRAMS=tblastx&PAGE_TYPE=BlastSearch' +
                '&SHOW_DEFAULTS=on&LINK_LOC=blasthome' %>
      <a target="_blank" href="<%= href %>">
        http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=tblastx&BLAST_PROGRAMS=tblastx&<br/>
        PAGE_TYPE=BlastSearch&SHOW_DEFAULTS=on&LINK_LOC=blasthome</a>.
    </li>
    <li id="reference_2">
    BLAST® Help [Internet]. Bethesda (MD): National Center for Biotechnology Information (US);</br>
    2008-. Table C6: tblastx application options... Available from: <br/>
    <% href = 'http://www.ncbi.nlm.nih.gov/books/NBK1763/table/CmdLineAppsManual.T.tblastx_application_/' %>
    <a target="_blank" href="<%= href %>"><%= href %></a>
    </li>
  </ol>
</div>
