<%= render 'shared/error_messages', :object => @qdeg %>
<script type='text/javascript' src='query_diff_exp_genes.js' ></script>
<%= javascript_tag do %>
  view_info = {action: "<%= params[:action] %>"};
<% end %>
<%= javascript_include_tag 'large_query_loader.js' %>
<%= javascript_include_tag 'downloadify/swfobject.js' %>
<%= javascript_include_tag 'downloadify/downloadify.min.js' %>
<%= javascript_include_tag 'downloadify_wrapper.js' %>
<%= javascript_include_tag 'Stupid-Table-Plugin/stupidtable.min.js' %>
<%= javascript_include_tag 'table_sorting.js' %>
<%= form_for(@qdeg, :url => 'query_diff_exp_genes') do |qdeg| %>
  <h1>
    Query Gene Differential Expression Tests
    <%= help_tip(:query_diff_exp_genes) %>
  </h1>
  <p>
    <%= qdeg.label :dataset_id, "Dataset to query" %>
    <%= qdeg.select :dataset_id, 
            options_for_select(@qdeg.names_and_ids_for_available_datasets,
                @qdeg.dataset_id) %><br/>
    <span id="sample_comparisons_container">
      <%= render 'diff_exp_samples_for_dataset', :object => @qdeg %>
    </span>
  </p>
  <p>
    <%= render 'diff_exp_cutoff', :object => @qdeg %>
  </p>
  <br/>
  <h2>Query filtering options</h2>
  <p>
    <%= render 'go_query_filters', :object => @qdeg %>
    <div>
        <%= qdeg.label(:gene_name, "Gene name:") %>
        <%= qdeg.text_field(:gene_name) %>
    </div>
    <%= qdeg.hidden_field :piece, :value => "0" %>
  </p>
  <p><%= qdeg.submit('Query', :id => :submit_button) %></p>
<% end %>
<!--Section for the query results-->
<div id="query_results_div" style="display:none">
  <p>
    <%= querying_indicator %>
    <span id="num_results_found"></span> for
    <em><b><span id="results_for"></span></b></em>
  </p>
  <p id="downloadify">
      You must have Flash 10 installed to download this file.
  </p>
  <div style="float:center">
    <%= link_to('Learn More About These Table Columns',
                'https://sites.google.com/site/rnaseqanalysispipeline/' +
                'user-manual/step-5-query-and-blast-your-data' +
                '#TOC-Output-Table-Data-Columns1') %>
  </div>
  <!--Table containing the query results-->
  <table border="1" id="query_results_table">
      <thead>
          <tr class="header_row">
              <th data-sort='string'>
                <table>
                  <tr>
                    <td>Gene</td>
                    <td class="sort-arrow-td"></td>
                  </tr>
                </table>
              </th>
              <th data-sort='string'>
                <table>
                  <tr>
                    <td>Associated Transcripts</td>
                    <td class="sort-arrow-td"></td>
                  </tr>
                </table>
              </th>
              <% if @qdeg.go_terms_status == 'done' %>
                <th>GO Terms</th>
              <% end %>
              <% if @qdeg.program_used == 'cuffdiff' %>
                <th data-sort='float'>
                  <table>
                    <tr>
                      <td>Test Statistic</td>
                      <td class="sort-arrow-td"></td>
                    </tr>
                  </table>
                </th>
              <% end %>
              <th data-sort='float'>
                <table>
                  <tr>
                    <td>P-Value</td>
                    <td class="sort-arrow-td"></td>
                  </tr>
                </table>
              </th>
              <th data-sort='float'>
                <table>
                  <tr>
                    <td>FDR</td>
                    <td class="sort-arrow-td"></td>
                  </tr>
                </table>
              </th>
              <th data-sort='float'>
                <table>
                  <tr>
                    <td><%= @qdeg.sample_1_name %> FPKM</td>
                    <td class="sort-arrow-td"></td>
                  </tr>
                </table>
              </th>
              <th data-sort='float'>
                <table>
                  <tr>
                    <td><%= @qdeg.sample_2_name %> FPKM</td>
                    <td class="sort-arrow-td"></td>
                  </tr>
                </table>
              </th>
              <th data-sort='float'>
                <table>
                  <tr>
                    <td>Log Fold Change</td>
                    <td class="sort-arrow-td"></td>
                  </tr>
                </table>
              </th>
              <% if @qdeg.program_used == 'cuffdiff' %>
                <th data-sort='string'>
                  <table>
                    <tr>
                      <td>Test Status</td>
                      <td class="sort-arrow-td"></td>
                    </tr>
                  </table>
                </th>
              <% end %>
          </tr>
      </thead>
      <tbody id="insert_query_results_here">
          
      </tbody>
  </table>
</div>
