<script type='text/javascript' src='query_using_blastn.js'></script>
<%= render 'shared/error_messages', :object => @query_using_blastn %>
<%= form_for(@query_using_blastn,{:url => "query_using_blastn"}) do |bq| %>
  <h2>
    Choose A Data Set to Search Using Blastn's Megablast
    <%= image_tag('question_mark.png', :id=>'blastn_megablast_qtip')%>
  </h2>
  <%= render 'blast_dataset_selection', :bq => bq %>
  <hr/>
  <%= render 'blast_query_input', :bq => bq %>
  <hr/>
  <h2>Algorithm settings</h2>
  <%= render 'blast_general_parameters', :bq => bq %>
  <br/>
  <div class='sub-section rounded-corners' style='padding:5px'>
    <p class='sub-section-heading-2'>Scoring Parameters</p>
    <%= bq.label :match_and_mismatch_scores, "Match/mismatch scores" %>
    <%= bq.select :match_and_mismatch_scores, 
        options_for_select(@query_using_blastn.available_match_and_mismatch_scores,
        @query_using_blastn.match_and_mismatch_scores) %>
    <%= image_tag('question_mark.png', :id=>'match_and_mismatch_scores_qtip') %>
    <div>
      <%= render :partial => 'gap_costs', :locals => {:object => @query_using_blastn} %>
      <%= image_tag('question_mark.png', :id=>'gap_costs_qtip')%>
    </div>
  </div>
  <br/>
  <%= render 'blast_filters_and_masking', :bq => bq %>
  <br/>
  <%= render 'results_display_method', :q => bq %>
  <p>
    <%= button_tag 'Reset', :type => 'reset' %>
    <%= submit_tag("BLAST", :disable_with => "BLASTing...") %>
  </p>
<% end %>

<br/>
<div>
  <div class='sub-section-heading-2'>References</div>
  <ol>
    <li id="reference_1">
      National Center for Biotechnology Information, "Standard Nucleotide BLAST", Jan. 2013;<br/>
      <% href = 'http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastn' +
                '&BLAST_PROGRAMS=megaBlast&PAGE_TYPE=BlastSearch' +
                '&SHOW_DEFAULTS=on&LINK_LOC=blasthome' %>
      <a target="_blank" href="<%= href %>">
        http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastn&BLAST_PROGRAMS=megaBlast&<br/>
        PAGE_TYPE=BlastSearch&SHOW_DEFAULTS=on&LINK_LOC=blasthome</a>.
    </li>
  </ol>
</div>
