<%= render 'shared/error_messages', :object => @upload_files %>
<%= form_for( @upload_files,{:url => "upload_edgeR"} ) do |uf| %>
  <h2>Please upload your Trinity.fasta file</h2>
  <div>
    <%= uf.label( :trinity_fasta_file, "Trinity.fasta file" ) %>
    <%= uf.file_field :trinity_fasta_file %>
  </div>
  
  <h2>Please upload your Transcript and Gene (if available) 
    differential expression test file(s) (all_diff_expression_results.txt)
  </h2>
  <div>
    <%= uf.label( :gene_differential_expression_file, 
      "Gene differential expression file (optional)" ) %>
    <%= uf.file_field( :gene_differential_expression_file ) %>
  </div>
  <div>
    <%= uf.label( :transcript_differential_expression_file, 
      "Transcript differential expression file" ) %>
    <%= uf.file_field( :transcript_differential_expression_file ) %>
  </div>
  
  <h2>
    Please upload your Transcript and Gene (if available) fpkm tracking file(s) 
    (matrix.TMM_normalized.FPKM).
  </h2>
  <div>
    <%= uf.label( :gene_fpkm_file, 
      "Gene FPKM file (optional)" ) %>
    <%= uf.file_field( :gene_fpkm_file ) %>
  </div>
  <div>
    <%= uf.label( :transcript_fpkm_file, 
      "Transcript FPKM file" ) %>
    <%= uf.file_field( :transcript_fpkm_file ) %>
  </div>
  <p><%= submit_tag("Upload files") %></p>
<% end %>

<!--<script type="text/javascript">
    function add_sample_fasta_upload(){
        p = document.getElementById("sample_fasta_uploads");
        var i = 1;
        for (i = 1; i < 100; ++i){
            var uploader = document.getElementById("sample_fasta"+i);
            if (! uploader){
                break;
            }
        }
        p.innerHTML += '<label for="sample_fasta' + i + '_Sample ' + i + ' fasta">Sample ' + i + ' fasta</label>';
        p.innerHTML += '<input id="sample_fasta' + i + '" name="sample_fasta' + i +'" type="file" /><br/>';
    }
</script>-->

