<table style="font-family:arial">
    <tr>
        <th colspan="2"><h1>Upload Files for Query Analysis</h1></th>
    </tr>
    <tr>
        <!--<td class="rounded-corners" style="background-color:rgb(211,184,239);padding-left:25px;padding-right:25px">
            <h3 style="text-align:center">Wizard</h3>
            <%= form_tag('/query_analysis/upload_main_menu') do %>
                <%= radio_button_tag(:data_type, "upload_reference_cuffdiff") %>
                <%= label_tag(:data_type_upload_reference_cuffdiff, "Differential Expression") %><br/>
                <%= radio_button_tag(:data_type, "upload_de_novo_cuffdiff") %>
                <%= label_tag(:data_type_upload_de_novo_cuffdiff, "Novel Isoforms") %><br/>
                <%= radio_button_tag(:data_type, "upload_de_novo_edgeR") %>
                <%= label_tag(:data_type_upload_de_novo_edgeR, "Both") %><br/>
                <%= submit_tag("Proceed to next step") %>
            <% end %>
        </td>-->
        <%= form_tag({:action => :upload_main_menu}) do %>
            <td class="rounded-corners sub-section" style="padding-left:25px;padding-right:25px">
                <div class="sub-section-heading">Step 1: Select Number of Samples</div>
                <ol style="list-style-type:lower-alpha">
                    <li>
                        <%= label(:number_of_samples, "Enter number of samples:") %>
                        <%= text_field_tag(:number_of_samples,2,{:size=>3}) %>
                    <li>Proceed to step 2 =====================&gt;</li>
                </ol>
            </td>
            <td class="rounded-corners sub-section" style="padding-left:25px;padding-right:25px">
                <div class="sub-section-heading">Step 2: Select the type of files you have</h3></div>
                <div><u>Trinity with EdgeR Output:</u></div>
                <ul>
                    <%= radio_button_tag(:type_of_files, :upload_de_novo_edgeR, true) %>
                    <%= label(:type_of_files, "Differential Expression File(s)") %>
                </ul>
                <div><u>Cuffdiff Output</u></div>
                <ul>
                    <%= radio_button_tag(:type_of_files, :upload_de_novo_edgeR) %>
                    <%= label(:type_of_files, "Differential Expression and Novel Gene and Transcript Files") %><br/>
                    <%= radio_button_tag(:type_of_files, :reference_novel_isoforms_only_workflow) %>
                    <%= label(:type_of_files, "Differential Expression File") %><br/>
                    <%= radio_button_tag(:type_of_files, :reference_novel_isoforms_only_workflow) %>
                    <%= label(:type_of_files, "Novel Gene and Transcript File") %><br/>
                </ul>
                <p><%= submit_tag("Proceed to file upload screen") %></p>
            </td>
        <% end %>
    </tr>
</table>