<%= render 'shared/error_messages', :object => @upload_cuffdiff %>
<script type='text/javascript' src='upload_cuffdiff.js' ></script>
<%= form_for @upload_cuffdiff, {:url => "upload_cuffdiff",:remote => true} do |u| %>
  <h1>
    Upload Your Cuffdiff Data
    <%= help_tip(:upload_cuffdiff) %>
  </h1>
  
  <table class="sub-section rounded-corners">
    <tr>
      <th class="sub-section-heading" style="padding-top:0px">
        <%= u.label(:dataset_name, "Name Your Dataset") %>
      </th>
      <td>
        <%= u.text_field :dataset_name %>
      </td>
    </tr>
  </table>
  <br/><br/>
  <table class="sub-section rounded-corners">
    <tr>
      <th class="sub-section-heading" style="padding-top:0px">
        <%= u.label(:transcripts_fasta_file, "Transcripts fasta") %>
        <%= help_tip(:transcripts_fasta_file) %>
      </th>
      <td>
        <%= u.file_field :transcripts_fasta_file %>
      </td>
    </tr>
  </table>
  <br/><br/>
  <%= u.label :has_diff_exp, 'Do you have differential expression tests?' %>
  <%= u.check_box :has_diff_exp %>
  <table class="sub-section rounded-corners">
    <tr>
      <th class="sub-section-heading" style="padding-top:0px;padding-right:40px">
        Differential Expression Test Files
      </th>
      <td>
        <%= u.label(:gene_diff_exp_file, "gene_exp.diff") %>
        <%= help_tip(:gene_diff_exp_file) %>
        <%= u.file_field :gene_diff_exp_file, :class=>'rounded-corners' %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= u.label(:transcript_diff_exp_file, "isoform_exp.diff") %>
        <%= help_tip(:transcript_diff_exp_file) %>
        <%= u.file_field :transcript_diff_exp_file, :class=>'rounded-corners' %>
      </td>
    </tr>
  </table>
  <br/><br/>
  <%= u.label :has_transcript_isoforms, 
                'Do you have transcript isoform classifications?' %>
  <%= u.check_box :has_transcript_isoforms %>
  <table class="sub-section rounded-corners">
    <tr>
      <th class="sub-section-heading" style="padding-top:0px">
        <%= u.label(:transcript_isoforms_file, "isoforms.fpkm_tracking") %>
        <%= help_tip(:transcript_isoforms_file) %>
      </th>
      <td>
        <%= u.file_field :transcript_isoforms_file, :class=>'rounded-corners' %>
      </td>
    </tr>
  </table>
  <p><%= submit_tag('Upload files', :disable_with => 'Uploading...') %></p>
<% end %>
