<%= render 'shared/error_messages', :object => @upload_edgeR %>
<%= form_for( @upload_edgeR,{:url => "upload_edgeR"} ) do |ue| %>
  <h2>Please upload your Trinity.fasta file</h2>
  <p id="sample_fasta_uploads">
  <%= ue.label( :trinity_fasta, "Trinity.fasta file" ) %>
  <%= ue.file_field :trinity_fasta %><br/>
  </p>
  
  <h2>Please upload your differential expression test file for all samples 
    (all_diff_expression_results.txt)
  </h2>
    <%= 
      ue.label( :differential_expression_file, "Differential expression file" ) 
    %>
    <%= ue.file_field( :differential_expression_file ) %>
    <br/>
  <p><%= submit_tag("Upload files") %></p>
<% end %>

<!--<script type="text/javascript">
    function add_sample_fasta_upload(){
        p = document.getElementById("sample_fasta_uploads");
        var i = 1;
        for (i = 1; i < 100; ++i){
            var uploader = document.getElementById("sample_fasta"+i);
            if (! uploader){
                break;
            }
        }
        p.innerHTML += '<label for="sample_fasta' + i + '_Sample ' + i + ' fasta">Sample ' + i + ' fasta</label>';
        p.innerHTML += '<input id="sample_fasta' + i + '" name="sample_fasta' + i +'" type="file" /><br/>';
    }
</script>-->

