<script type='text/javascript' src='upload_fasta_sequences.js' ></script>
<%= render 'shared/error_messages', :object => @upload %>
<%= form_for @upload, {:url => "upload_fasta_sequences"} do |u| %>
  <h1>Upload Your Fasta Sequences <%= help_tip(:upload_fasta_sequences) %></h1>
  
  <table class="sub-section rounded-corners">
    <tr>
      <th class="sub-section-heading" style="padding-top:0px">
        <%= u.label(:dataset_name, "Name Your Dataset") %>
      </th>
      <td>
        <%= u.text_field :dataset_name %>
      </td>
    </tr>
    <tr>
      <th class="sub-section-heading" style="padding-top:0px">
        <%= label(:transcripts_fasta, "Fasta File") %>
        <%= help_tip(:fasta_file) %>
      </th>
      <td>
        <%= u.file_field :transcripts_fasta_file %>
      </td>
    </tr>
  </table>
  <p><%= submit_tag('Upload file', :disable_with => 'Uploading...') %></p>
<% end %>
