<header>
  <%= link_to logo, root_path %>
  <h1 id="header_title">RNA-Seq Analysis Pipeline</h1>
  <br/>
  <nav>
    <ul>
      <li><%= link_to "Process reads", "#" %></li>
      <li><%= link_to "Upload processed dataset", "/query_analysis/upload_de_novo_edgeR" %></li>
      <li><%= link_to "Differential Expression", "/query_analysis/query_diff_exp_transcripts" %></li>
      <li><%= link_to "Novel Isoforms", "#" %></li>
      <li><%= link_to "BLAST", "/query_analysis/query_blast_db" %></li>
    </ul>
  </nav>
</header> 
