<header>
  <%= link_to logo, root_path %>
  <h1 id='header_title'>Queryable RNA-Seq Database</h1>
  <br/>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Home', root_path %></li>
        <!--<li><%= link_to 'Process reads', '/processing_analysis' %></li>-->
        <li><%= link_to 'Upload processed dataset',
                        '/query_analysis/upload_main_menu' %>
          <ul class='drop-down-menu'>
            <li><%= link_to 'Fasta Sequences (From Any Program)', '#' %></li>
            <li><%= link_to 'Trinity with EdgeR >', '#' %>
              <ul class='drop-down-sub-menu'>
                <li><%= link_to 'Genes and Transcripts', 
                  '/query_analysis/upload_trinity_with_edger_transcripts_and_genes' %>
                </li>
                <li><%= link_to 'Transcripts Only', '#' %></li>
              </ul>
            </li>
            <br/>
            <br/>
            <br/>
            <li><%= link_to 'Cuffdiff', '/query_analysis/upload_cuffdiff' %>
              <ul class='drop-down-sub-menu'>
                <li><%= link_to 'Genes and Transcripts', 
                  '/query_analysis/upload_trinity_with_edger_transcripts_and_genes' %>
                </li>
                <li><%= link_to 'Transcripts Only', '#' %></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><%= link_to 'Differential Expression', 
                        '/query_analysis/diff_exp_main_menu' %>
          <ul class='drop-down-menu'>
            <li>
              <%= link_to 'Transcript Differential Expression', 
                          '/query_analysis/query_diff_exp_transcripts' %>
            </li>
            <li>
              <%= link_to 'Gene Differential Expression', 
                          '/query_analysis/query_diff_exp_genes' %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to 'Transcript Isoforms', 
                      '/query_analysis/query_transcript_isoforms' %>
        </li>
        <li><%= link_to 'BLAST', 
                        '/query_analysis/blast_main_menu' %>
          <ul  class='drop-down-menu'>
            <li><%= link_to 'BLASTN', '/query_analysis/blastn' %></li>
            <li><%= link_to 'TBLASTN', '/query_analysis/tblastn' %></li>
            <li><%= link_to 'TBLASTX', '/query_analysis/tblastx' %></li>
          </ul>
        </li>
        <% if current_user.admin? %>
          <li><%= link_to 'Admin', 
                          '/admin' %>
            <ul  class='drop-down-menu'>
              <li><%= link_to 'View Unconfirmed Users', '/admin/view_unconfirmed_users' %></li>
              <li><%= link_to 'View Confirmed Users', '/admin/view_user_information' %></li>
              <li><%= link_to 'Delete Datasets', '/admin/delete_datasets_from_database' %></li>
            </ul>
          </li>
        <% end %>
        <li>
          <%= link_to('Edit registration', edit_user_registration_path) %>
        </li>
        <li>
          <%= link_to('Logout', destroy_user_session_path, 
                      :method => :delete) %>
        </li>
      <% else %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to('Login', new_user_session_path)  %></li>
        <li><%= link_to('Register', new_user_registration_path)  %></li>
      <% end %>
    </ul>
  </nav>
</header> 
