<!DOCTYPE html>
<html>
<head>
  <title>Queryabla RNA-Seq Database Beta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--jquery.min.js is included here instead of in application.js because it 
    doesn't work when I put it in application.js" -->
  <!--<%= javascript_include_tag(
    "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
  ) %>-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!--Flash messages for the Devise gem -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>
<%= render 'layouts/header' %>
<div id="content" style="padding:50px">
<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
